In [10]:
#import tabula
from tabula.io import read_pdf

import pandas as pd

In [6]:
import sqlalchemy
from sqlalchemy import create_engine

In [5]:
engine = create_engine('sqlite:///dbase2.db')

In [6]:
pdf_file ="forecast.pdf"

In [8]:

tables = read_pdf(pdf_file, pages="2")

In [11]:
#columns_to_drop = ['Unnamed: 0', 'Unnamed: 1','Unnamed: 2']
#tables[4]=tables[4].drop(columns=columns_to_drop).fillna('')

tables[4]

,Lower 48,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"95,853","96,378","96,591","97,137","97,748","98,734","99,526","100,221","100,382","100,706","101,195","101,669"
1,Yr/Yr (mmcfd),"3,513","3,343","3,699","3,736","4,271","4,438","4,116","4,235","6,688","7,589","7,343","6,698"
2,Gas Rigs,175,173,183,187,189,195,198,203,207,209,210,210
3,Oil Rigs,563,580,582,593,605,618,616,615,605,593,592,587
4,Well Count,"1,237","1,203","1,179","1,193","1,214","1,284","1,267","1,317","1,318","1,285","1,298","1,286"

In [21]:
#pd.DataFrame(a)

In [22]:
columns_to_drop = ['Unnamed: 0', 'Unnamed: 1','Unnamed: 2']

tables[5]=tables[5].drop(columns=columns_to_drop).fillna('')
b=tables[5]

NameError: name 'tables' is not defined

In [9]:
#Eastern US Regional Analysis

In [10]:
tables = tabula.read_pdf(pdf_file, pages="5")
columns_to_drop = ['Unnamed: 0', 'Unnamed: 1','2']
#a,b,c,d = 146,48,9,103,13891
row_indices = [0,1,2,3,4,5]
columns_to_edit = 'Nov-22'
new_values = [34852,146,48,9,103,13891]

tables[24]=tables[24].drop(columns=columns_to_drop).fillna('0').rename(columns={'Nov-':'Nov-22'})

for index, new_value in zip(row_indices, new_values):
    tables[24].at[index, columns_to_edit] = new_value




c=tables[24]
#pd.DataFrame(c)

In [11]:
c.to_sql(name='EasternUS',con=engine,if_exists='replace', index=False)

6

In [12]:
pd.read_sql(sql='EasternUS',con=engine)

,East,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"34,183","34,335","34,625","34,217","34,190","34,523",34852,"35,068","34,676","34,551","34,563","34,612"
1,Yr/Yr (mmcfd),475,160,999,63,89,203,146,(433),703,"1,130",996,765
2,Gas Rigs,47,46,47,48,48,48,48,48,48,48,48,48
3,Oil Rigs,8,10,9,8,8,9,9,9,9,9,9,9
4,Well Count,146,100,103,110,101,145,103,114,137,104,118,109
5,IP (mcfd/well),"11,615","11,746","12,491","12,271","12,907","12,682",13891,"13,034","11,444","13,110","12,191","13,007"

In [131]:
#Gulf Coast Regional Analysis

In [132]:
tables = tabula.read_pdf(pdf_file, pages="7")

In [133]:
d=tables[2]
#pd.DataFrame(d)

In [134]:
d.to_sql(name='GulfCoast',con=engine,if_exists='replace', index=False)

6

In [135]:
pd.read_sql(sql='GulfCoast',con=engine)

,Gulf Coast,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"10,985","11,181","11,220","11,458","11,676","11,931","12,088","12,241","12,487","12,641","12,787","12,934"
1,Yr/Yr (mmcfd),"1,577","1,711","1,609","1,931","1,583","1,931","1,717","1,796","2,029","2,368","2,581","2,382"
2,Gas Rigs,44,44,46,46,46,46,46,46,46,46,46,45
3,Oil Rigs,6,6,4,5,6,7,8,7,7,6,6,6
4,Well Count,64,58,57,56,56,56,58,60,61,62,60,59
5,IP (mcfd/well),"11,557","11,758","12,373","12,665","12,506","12,440","12,187","11,774","11,681","11,810","12,005","12,347"

In [136]:
#South Texas Regional Analysis

In [137]:
tables = tabula.read_pdf(pdf_file, pages="9")

In [138]:
e=tables[2]

In [139]:
e.to_sql(name='SouthTexas',con=engine,if_exists='replace', index=False)

6

In [140]:
pd.read_sql(sql='SouthTexas',con=engine)

,South Texas,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"6,003","6,040","6,096","6,186","6,297","6,409","6,511","6,608","6,695","6,770","6,837","6,898"
1,Yr/Yr (mmcfd),296,320,351,646,756,850,901,944,939,899,926,942
2,Gas Rigs,11,13,14,14,14,14,15,15,15,15,15,15
3,Oil Rigs,76,81,81,82,82,83,82,82,81,80,79,79
4,Well Count,125,129,145,154,158,160,159,161,155,154,152,151
5,IP (mcfd/well),"2,714","2,565","2,648","2,775","2,874","2,879","2,871","2,884","2,918","2,922","2,920","2,933"

In [141]:
#East Texas Regional Analysis

In [142]:
tables = tabula.read_pdf(pdf_file, pages="11")

In [143]:
f=tables[2]

In [144]:
f.to_sql(name='EastTexas',con=engine,if_exists='replace', index=False)

6

In [145]:
pd.read_sql(sql='EastTexas',con=engine)

,East Texas,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"6,227","6,297","6,342","6,360","6,394","6,437","6,481","6,533","6,593","6,659","6,725","6,786"
1,Yr/Yr (mmcfd),(37),57,121,161,219,295,379,471,551,598,612,463
2,Gas Rigs,29,29,30,30,31,32,33,34,35,35,36,37
3,Oil Rigs,19,18,18,19,20,21,22,22,22,21,21,21
4,Well Count,59,68,58,56,57,57,59,63,65,67,68,67
5,IP (mcfd/well),"5,241","4,989","4,577","4,974","5,342","5,342","5,345","5,348","5,345","5,344","5,337","5,338"

In [146]:
#Mid Continent Regional Analysis

In [147]:
tables = tabula.read_pdf(pdf_file, pages="13")
len(tables)

3

In [148]:
g=tables[1]

In [149]:
g.to_sql(name='MidContinent',con=engine,if_exists='replace', index=False)

6

In [150]:
pd.read_sql(sql='MidContinent',con=engine)

,Mid Continent,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"8,921","8,828","8,603","8,703","8,765","8,808","8,820","8,835","8,850","8,885","8,962","9,005"
1,Yr/Yr (mmcfd),153,182,(44),8,86,162,213,117,378,502,313,128
2,Gas Rigs,13,13,14,15,16,17,18,19,20,21,20,20
3,Oil Rigs,55,51,52,54,55,56,55,55,54,53,53,53
4,Well Count,158,154,134,118,121,126,131,136,136,138,137,137
5,IP (mcfd/well),"1,654","1,706","2,074","2,434","2,497","2,503","2,509","2,516","2,522","2,528","2,535","2,125"

In [151]:
#Permian Regional Analysis

In [152]:
tables = tabula.read_pdf(pdf_file, pages="15")

In [153]:
h=tables[2]

In [154]:
h.to_sql(name='PermianRegion',con=engine,if_exists='replace', index=False)

6

In [155]:
pd.read_sql(sql='PermianRegion',con=engine)

,Permian,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"16,107","15,907","15,744","16,106","16,203","16,307","16,420","16,540","16,641","16,721","16,797","16,863"
1,Yr/Yr (mmcfd),"2,215","1,579","1,109","1,005","1,005",918,"1,055",987,"1,292","1,137","1,107",903
2,Gas Rigs,17,12,16,17,17,17,18,19,20,20,20,20
3,Oil Rigs,299,307,306,313,319,326,325,325,320,313,314,311
4,Well Count,370,369,366,372,375,385,390,397,376,373,370,363
5,IP (mcfd/well),"1,901","1,907","1,922","1,938","1,940","1,946","1,949","1,951","1,955","1,961","1,967","1,968"

In [156]:
#Rockies Regional Analysis

In [157]:
tables = tabula.read_pdf(pdf_file, pages="17")

In [158]:
i=tables[2]

In [159]:
i.to_sql(name='RockiRegional',con=engine,if_exists='replace', index=False)

6

In [160]:
pd.read_sql(sql='RockiRegional',con=engine)

,Rockies,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"9,605","9,854","9,946","10,056","10,136","10,201","10,244","10,292","10,339","10,383","10,431","10,478"
1,Yr/Yr (mmcfd),(774),(357),(168),(159),(272),(99),94,342,769,738,690,"1,056"
2,Gas Rigs,8,8,10,10,10,10,10,11,12,13,14,14
3,Oil Rigs,70,76,82,83,83,83,82,81,80,77,75,73
4,Well Count,201,211,240,243,266,272,272,275,274,274,276,270
5,IP (mcfd/well),"1,008","1,029","1,035","1,107","1,121","1,129","1,122","1,133","1,143","1,154","1,185","1,197"

In [161]:
#San Juan Regional Analysis

In [162]:
tables = tabula.read_pdf(pdf_file, pages="19")

In [163]:
j=tables[3]

In [164]:
j.to_sql(name='SanJuan',con=engine,if_exists='replace', index=False)

6

In [165]:
pd.read_sql(sql='SanJuan',con=engine)

,San Juan,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"1,833","1,846","1,840","1,838","1,836","1,834","1,831","1,828","1,826","1,824","1,823","1,823"
1,Yr/Yr (mmcfd),(31),(12),(22),(28),(30),(84),(79),43,(16),(16),(35),12
2,Gas Rigs,3,3,3,3,3,3,3,3,4,4,4,4
3,Oil Rigs,1,2,1,1,1,1,1,1,1,1,1,1
4,Well Count,17,8,15,22,18,16,15,18,16,17,19,19
5,IP (mcfd/well),414,415,501,495,536,530,526,537,533,536,542,543

In [166]:
#Western US Regional Analysis

In [167]:
tables = tabula.read_pdf(pdf_file, pages="20")

In [168]:
k=tables[2]

In [169]:
k.to_sql(name='WesternUs',con=engine,if_exists='replace', index=False)

6

In [170]:
pd.read_sql(sql='WesternUs',con=engine)

,West,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),346,345,343,341,340,338,337,335,334,332,331,329
1,Yr/Yr (mmcfd),(23),(22),(22),(21),(21),(21),(20),(20),(20),(19),(19),(19)
2,Gas Rigs,-,-,-,-,0,0,1,1,1,1,1,2
3,Oil Rigs,3,3,3,3,3,4,3,3,3,3,3,3
4,Well Count,85,91,47,48,50,55,64,78,82,79,81,93
5,IP (mcfd/well),1,1,1,1,1,1,1,1,1,1,1,1

In [171]:
#Gulf of Mexico Regional Analysis

In [172]:
tables = tabula.read_pdf(pdf_file, pages="21")

In [173]:
L=tables[2]

In [174]:
L.to_sql(name='GulfofMexico',con=engine,if_exists='replace', index=False)

6

In [175]:
pd.read_sql(sql='GulfofMexico',con=engine)

,Gulf of Mexico,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"1,644","1,745","1,831","1,872","1,910","1,947","1,942","1,941","1,941","1,940","1,940","1,941"
1,Yr/Yr (mmcfd),(338),(274),(235),130,856,282,2,(12),63,251,172,66
2,Gas Rigs,5,5,4,4,5,6,6,6,6,6,6,6
3,Oil Rigs,27,27,25,26,27,28,28,29,29,29,30,31
4,Well Count,12,14,15,14,12,13,15,16,16,16,17,17
5,IP (mcfd/well),"2,907","2,843","2,872","2,886","2,925","2,934","2,867","2,863","2,867","2,876","2,878","2,871"

In [176]:
#Western Canada Regional Analysis

In [177]:
tables = tabula.read_pdf(pdf_file, pages="23")

In [178]:
M=tables[1]

In [179]:
M.to_sql(name='WesternCanada',con=engine,if_exists='replace', index=False)

6

In [180]:
pd.read_sql(sql='WesternCanada',con=engine)

,Western Canada,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"17,097","16,295","16,787","16,788","17,014","17,266","17,906","17,681","17,719","18,036","18,331","18,699"
1,Yr/Yr (mmcfd),"1,336",678,933,550,822,"1,083","1,124","1,279","1,307","1,260","1,423","1,297"
2,Gas Rigs,49,49,63,95,106,104,92,66,85,95,88,55
3,Oil Rigs,43,91,119,128,131,130,127,137,153,163,130,96
4,Well Count,261,172,476,"1,022","1,022","1,001",846,491,541,731,761,185
5,IP (mcfd/well),"1,475","1,242","1,437",694,859,"1,048","1,076","1,127","1,047",936,"1,100","1,570"

In [5]:
#pd.merge(x, y, on='Jul-22', how='inner')

In [4]:
#data1 = {'Key': ['A', 'B', 'C', 'D'],
#         'Value1': [1, 2, 3, 4]}
#pd.DataFrame(data1)

In [1]:
#a.append(b)

In [23]:
#inserting into database

In [1]:
import sqlalchemy
from sqlalchemy import create_engine

In [14]:
engine = create_engine('sqlite:///dbase2.db')

In [18]:
a.to_sql(name='lower48',con=engine,if_exists='replace', index=False)

5

In [21]:
pd.read_sql(sql='lower48',con=engine)

,Lower 48,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"95,853","96,378","96,591","97,137","97,748","98,734","99,526","100,221","100,382","100,706","101,195","101,669"
1,Yr/Yr (mmcfd),"3,513","3,343","3,699","3,736","4,271","4,438","4,116","4,235","6,688","7,589","7,343","6,698"
2,Gas Rigs,175,173,183,187,189,195,198,203,207,209,210,210
3,Oil Rigs,563,580,582,593,605,618,616,615,605,593,592,587
4,Well Count,"1,237","1,203","1,179","1,193","1,214","1,284","1,267","1,317","1,318","1,285","1,298","1,286"

In [22]:
b.to_sql(name='Western_canada',con=engine,if_exists='replace', index=False)

6

In [23]:
pd.read_sql(sql='Western_canada',con=engine)

,Western Canada,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"17,194","16,295","16,787","16,801","16,938","17,067","17,643","17,398","17,449","17,788","18,111","18,492"
1,Yr/Yr (mmcfd),"1,433",678,933,563,746,885,861,996,"1,039","1,013","1,203","1,090"
2,Gas Rigs,49,49,64,80,91,89,93,66,88,95,89,55
3,Oil Rigs,43,91,118,128,130,129,128,140,157,169,137,104
4,Well Count,261,172,476,"1,043",985,950,802,488,547,746,779,192
5,IP (mcfd/well),"1,475","1,242","1,437",708,698,"1,001","1,033","1,115","1,047",937,"1,100","1,564"

In [4]:
import PyPDF2
import tabula
#pdf_file_path = "forecast.pdf"
#pdf_file = open(pdf_file_path, "rb")

In [3]:
#pdf_reader = PyPDF2.PdfFileReader(pdf_file)

In [1]:
#for page_num in range(pdf_reader.numPages):
    # Extract tables from the current page
    tables = tabula.read_pdf(pdf_file_path, pages=page_num + 1, multiple_tables=True)

    # Process the tables as needed
    for table_num, table in enumerate(tables, start=1):
        print(f"Table {table_num} on Page {page_num + 1}:")
        print(table)

IndentationError: unexpected indent (2026384335.py, line 3)

In [9]:
def find_table_by_value(pdf_path, search_value):
    # Open the PDF file
    pdf_file = open(pdf_path, "rb")
    pdf_reader = PyPDF2.PdfFileReader(pdf_file)

    # Iterate through the pages and extract tables
    for page_num in range(pdf_reader.numPages):
        tables = tabula.read_pdf(pdf_path, pages=page_num + 1, multiple_tables=True)

        # Loop through the extracted tables
        for table_num, table in enumerate(tables, start=1):
            # Check if the search_value is in the table
            if (table == search_value).any().any():
                print(f"Table containing '{search_value}' found on Page {page_num + 1}, Table {table_num}:")
                print(table)
                return  # Exit the function once the table is found

    print(f"Table containing '{search_value}' not found in the PDF.")

    # Close the PDF file
    pdf_file.close()

# Replace with the path to your PDF and the value you're searching for
pdf_path = "forecast.pdf"
search_value = "Monthly Data"

find_table_by_value(pdf_path, search_value)

Table containing 'Monthly Data' not found in the PDF.

In [17]:
import tabula

def find_table(pdf_path, value):
  """Finds the first table in a PDF that contains the given value.

  Args:
    pdf_path: The path to the PDF file.
    value: The value to search for in the table.

  Returns:
    A Pandas DataFrame representing the table, or None if no table is found.
  """

  tables = tabula.read_pdf(pdf_path, pages="all")
  for table in tables:
    if value in table.to_string():
      return table
  return None

def main():
  pdf_path = "forecast.pdf"
  value = "Lower 48"

  table = find_table(pdf_path, value)
  if table is not None:
    print(table)
  else:
    print("No table found containing the given value.")

if __name__ == "__main__":
  main()

  7/29/2022\rLower 48 Dry Production   Rigs Well NYMEX Unnamed: 0  \
0                 NaN          mmcfd  Yr/Yr  Gas   Oil      Count
1          Summer '22         96,773  3,694  182   586      8,474
2      Winter '22/'23        100,406  5,994  205   604      6,484
3          Summer '23        102,887  6,114  198   579      8,875
4                2022         96,485  3,898  181   576     14,525
5                2023        102,587  6,102  196   582     15,131

         Unnamed: 1
0             Price
1  $           8.22
2  $           7.94
3  $           4.88
4  $           8.27
5  $           5.63

In [18]:
pdf_path= "forecast.pdf"
value= "Lower 48"
find_table(pdf_path, value)

,7/29/2022\rLower 48,Dry Production,Rigs,Well,NYMEX,Unnamed: 0,Unnamed: 1
0,NaN,mmcfd,Yr/Yr,Gas,Oil,Count,Price
1,Summer '22,"96,773","3,694",182,586,"8,474",$ 8.22
2,Winter '22/'23,"100,406","5,994",205,604,"6,484",$ 7.94
3,Summer '23,"102,887","6,114",198,579,"8,875",$ 4.88
4,2022,"96,485","3,898",181,576,"14,525",$ 8.27
5,2023,"102,587","6,102",196,582,"15,131",$ 5.63

In [13]:
import tabula

def find_first_table(pdf_path, value): 
    tables = tabula.read_pdf(pdf_path, pages="all") 
    for table in tables:
        if value in table.to_string():
            return table
    return None

def find_second_table(pdf_path, value):
    tables = tabula.read_pdf(pdf_path, pages="all")
    
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
            if table_count == 2:
                return table
    return None

def main(pdf_path, value):

    tables = tabula.read_pdf(pdf_path, pages="all")
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
        if table_count == 2:
            return table
    return None

if __name__ == "__main__":
    
    pdf_path = "forecast.pdf"
    value = input("Enter the value to search for in the table: ")

    first_table = find_first_table(pdf_path, value)
    second_table = find_second_table(pdf_path, value)

    if first_table is not None:
        print("First table:")
        print(first_table)
    else:
        print("No first table found containing the given value.")

    if second_table is not None:
        print("Second table:")
        print(second_table)
    else:
        print("No second table found containing the given value.")

Enter the value to search for in the table: Gulf Coast
First table:
        7/29/2022 Dry Production    Unnamed: 0 JRaing-s22  Unnamed: 1  \
0      Gulf Coast    mmcfd Yr/Yr           Gas        Oil         NaN
1      Summer '22   11,286 1,640  4J5un-  2  2        NaN         6.0
2  Winter '22/'23   12,449 2,098            46        NaN         7.0
3             NaN            NaN        Nov-22        NaN         NaN
4      Summer '23   13,333 2,046            44        NaN         7.0
5             NaN            NaN           NaN        NaN         NaN
6            2022   11,189 1,582  4A5pr-  2  3        NaN         6.0
7            2023   13,246 2,057            45        NaN         7.0

  Avg IP's   Well Unnamed: 2  NYMEX  Aug-21
0     mcfd  Count        NaN  Price  Jan-22
1   12,287    401          $   8.22     NaN
2   11,891    302          $   7.94  Jun-22
3      NaN    NaN        NaN    NaN     NaN
4   12,065    425          $   4.88     NaN
5      NaN    NaN        NaN    NaN  Nov-22
6   12,196    671          $   8.27     NaN
7   11,974    729          $   5.63     NaN
Second table:
         Gulf Coast  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  10,985  11,181  11,220  11,458  11,676  11,931  12,088
1     Yr/Yr (mmcfd)   1,577   1,711   1,609   1,931   1,583   1,931   1,717
2          Gas Rigs      44      44      46      46      46      46      46
3          Oil Rigs       6       6       4       5       6       7       8
4        Well Count      64      58      57      56      56      56      58
5    IP (mcfd/well)  11,557  11,758  12,373  12,665  12,506  12,440  12,187

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  12,241  12,487  12,641  12,787  12,934
1   1,796   2,029   2,368   2,581   2,382
2      46      46      46      46      45
3       7       7       6       6       6
4      60      61      62      60      59
5  11,774  11,681  11,810  12,005  12,347

In [21]:
pdf_path= "forecast.pdf"
value= "Gulf Coast"
Gulf=find_second_table(pdf_path, value)

In [16]:
Lower_48

,Lower 48,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Unnamed: 0,Dec-22,Unnamed: 1,Jan-23,Feb-23,Mar-23,Apr-23,Unnamed: 2
0,Dry Prod (mmcfd),"95,853","96,378","96,591","97,137","97,748","98,734","99,526",NaN,"100,221",NaN,"100,382","100,706","101,195","101,669",NaN
1,Yr/Yr (mmcfd),"3,513","3,343","3,699","3,736","4,271","4,438","4,116",NaN,"4,235",NaN,"6,688","7,589","7,343","6,698",NaN
2,Gas Rigs,175,173,183,187,189,195,198,NaN,203,NaN,207,209,210,210,NaN
3,Oil Rigs,563,580,582,593,605,618,616,NaN,615,NaN,605,593,592,587,NaN
4,Well Count,"1,237","1,203","1,179","1,193","1,214","1,284","1,267",NaN,"1,317",NaN,"1,318","1,285","1,298","1,286",NaN

In [5]:
Western_Canada

,Western Canada,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"17,097","16,295","16,787","16,788","17,014","17,266","17,906","17,681","17,719","18,036","18,331","18,699"
1,Yr/Yr (mmcfd),"1,336",678,933,550,822,"1,083","1,124","1,279","1,307","1,260","1,423","1,297"
2,Gas Rigs,49,49,63,95,106,104,92,66,85,95,88,55
3,Oil Rigs,43,91,119,128,131,130,127,137,153,163,130,96
4,Well Count,261,172,476,"1,022","1,022","1,001",846,491,541,731,761,185
5,IP (mcfd/well),"1,475","1,242","1,437",694,859,"1,048","1,076","1,127","1,047",936,"1,100","1,570"

In [6]:
pdf_path= "forecast.pdf"
value= "Western Canada"
Western_Canada2=find_first_table(pdf_path, value)

In [7]:
Western_Canada2

,Western Canada,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Unnamed: 0,Dec-22,Unnamed: 1,Jan-23,Feb-23,Mar-23,Apr-23,Unnamed: 2
0,Dry Prod (mmcfd),"17,194","16,295","16,787","16,801","16,938","17,067","17,643",NaN,"17,398",NaN,"17,449","17,788","18,111","18,492",NaN
1,Yr/Yr (mmcfd),"1,433",678,933,563,746,885,861,NaN,996,NaN,"1,039","1,013","1,203","1,090",NaN
2,Gas Rigs,49,49,64,80,91,89,93,NaN,66,NaN,88,95,89,55,NaN
3,Oil Rigs,43,91,118,128,130,129,128,NaN,140,NaN,157,169,137,104,NaN
4,Well Count,261,172,476,"1,043",985,950,802,NaN,488,NaN,547,746,779,192,NaN
5,IP (mcfd/well),"1,475","1,242","1,437",708,698,"1,001","1,033",NaN,"1,115",NaN,"1,047",937,"1,100","1,564",NaN

In [10]:
East

,East,May-22,Jun-22,Jul-22,Aug-22,Unnamed: 0,Sep-22,Oct-22,Nov-,2,Dec-22,Jan-23,Unnamed: 1,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"34,183","34,335","34,625","34,217",NaN,"34,190","34,523","34,85",NaN,"35,068","34,676",NaN,"34,551","34,563","34,612"
1,Yr/Yr (mmcfd),475,160,999,63,NaN,89,203,(14,),(433),703,NaN,"1,130",996,765
2,Gas Rigs,47,46,47,48,NaN,48,48,4,NaN,48,48,NaN,48,48,48
3,Oil Rigs,8,10,9,8,NaN,8,9,NaN,NaN,9,9,NaN,9,9,9
4,Well Count,146,100,103,110,NaN,101,145,10,NaN,114,137,NaN,104,118,109
5,IP (mcfd/well),"11,615","11,746","12,491","12,271",NaN,"12,907","12,682","13,89",NaN,"13,034","11,444",NaN,"13,110","12,191","13,007"

In [22]:
Gulf

,Gulf Coast,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"10,985","11,181","11,220","11,458","11,676","11,931","12,088","12,241","12,487","12,641","12,787","12,934"
1,Yr/Yr (mmcfd),"1,577","1,711","1,609","1,931","1,583","1,931","1,717","1,796","2,029","2,368","2,581","2,382"
2,Gas Rigs,44,44,46,46,46,46,46,46,46,46,46,45
3,Oil Rigs,6,6,4,5,6,7,8,7,7,6,6,6
4,Well Count,64,58,57,56,56,56,58,60,61,62,60,59
5,IP (mcfd/well),"11,557","11,758","12,373","12,665","12,506","12,440","12,187","11,774","11,681","11,810","12,005","12,347"

In [3]:
!pip install pdfminer --upgrade

Collecting pdfminer
  Downloading pdfminer-20191125.tar.gz (4.2 MB)
     ---------------------------------------- 0.0/4.2 MB ? eta -:--:--
     ---------------------------------------- 0.0/4.2 MB 1.3 MB/s eta 0:00:04
      --------------------------------------- 0.1/4.2 MB 812.7 kB/s eta 0:00:06
     - -------------------------------------- 0.1/4.2 MB 901.1 kB/s eta 0:00:05
     - -------------------------------------- 0.2/4.2 MB 1.1 MB/s eta 0:00:04
     -- ------------------------------------- 0.2/4.2 MB 1.1 MB/s eta 0:00:04
     -- ------------------------------------- 0.3/4.2 MB 1.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.3/4.2 MB 1.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.3/4.2 MB 1.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.3/4.2 MB 1.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.3/4.2 MB 1.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.3/4.2 MB 1.2 MB/s eta 0:00:04
     ----- ---------------------------------- 0.6/4.2 MB 1.0 MB/s eta 0:00:04
     ----- ---------------------------------- 0.6/4.2 MB 1.0 MB/s eta 0:00:04
     ----- ---------------------------------- 0.6/4.2 MB 1.0 MB/s eta 0:00:04
     ----- ---------------------------------- 0.6/4.2 MB 1.0 MB/s eta 0:00:04
     ----- ---------------------------------- 0.6/4.2 MB 797.6 kB/s eta 0:00:05
     ----- ---------------------------------- 0.6/4.2 MB 788.7 kB/s eta 0:00:05
     ----- ---------------------------------- 0.6/4.2 MB 788.7 kB/s eta 0:00:05
     ----- ---------------------------------- 0.6/4.2 MB 788.7 kB/s eta 0:00:05
     ----- ---------------------------------- 0.6/4.2 MB 788.7 kB/s eta 0:00:05
     ------- -------------------------------- 0.8/4.2 MB 779.7 kB/s eta 0:00:05
     ------- -------------------------------- 0.8/4.2 MB 779.7 kB/s eta 0:00:05
     ------- -------------------------------- 0.8/4.2 MB 779.7 kB/s eta 0:00:05
     ------- -------------------------------- 0.8/4.2 MB 779.7 kB/s eta 0:00:05
     -------- ------------------------------- 0.9/4.2 MB 760.1 kB/s eta 0:00:05
     -------- ------------------------------- 0.9/4.2 MB 749.1 kB/s eta 0:00:05
     --------- ------------------------------ 0.9/4.2 MB 736.0 kB/s eta 0:00:05
     --------- ------------------------------ 0.9/4.2 MB 736.0 kB/s eta 0:00:05
     --------- ------------------------------ 1.0/4.2 MB 707.8 kB/s eta 0:00:05
     --------- ------------------------------ 1.0/4.2 MB 706.5 kB/s eta 0:00:05
     ---------- ----------------------------- 1.1/4.2 MB 725.9 kB/s eta 0:00:05
     ---------- ----------------------------- 1.1/4.2 MB 702.5 kB/s eta 0:00:05
     ---------- ----------------------------- 1.1/4.2 MB 714.1 kB/s eta 0:00:05
     ----------- ---------------------------- 1.2/4.2 MB 712.3 kB/s eta 0:00:05
     ----------- ---------------------------- 1.2/4.2 MB 711.1 kB/s eta 0:00:05
     ----------- ---------------------------- 1.2/4.2 MB 728.0 kB/s eta 0:00:05
     ----------- ---------------------------- 1.2/4.2 MB 728.0 kB/s eta 0:00:05
     ------------ --------------------------- 1.3/4.2 MB 707.2 kB/s eta 0:00:05
     ------------ --------------------------- 1.3/4.2 MB 716.4 kB/s eta 0:00:04
     ------------ --------------------------- 1.4/4.2 MB 709.4 kB/s eta 0:00:04
     ------------- -------------------------- 1.4/4.2 MB 708.0 kB/s eta 0:00:04
     ------------- -------------------------- 1.4/4.2 MB 717.1 kB/s eta 0:00:04
     ------------- -------------------------- 1.4/4.2 MB 717.1 kB/s eta 0:00:04
     -------------- ------------------------- 1.5/4.2 MB 699.3 kB/s eta 0:00:04
     -------------- ------------------------- 1.5/4.2 MB 708.4 kB/s eta 0:00:04
     -------------- ------------------------- 1.6/4.2 MB 717.2 kB/s eta 0:00:04
     -------------- ------------------------- 1.6/4.2 MB 717.2 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 682.4 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     --------------- ------------------------ 1.6/4.2 MB 690.6 kB/s eta 0:00:04
     ---------------- ----------------------- 1.7/4.2 MB 639.8 kB/s eta 0:00:04
     ---------------- ----------------------- 1.7/4.2 MB 639.8 kB/s eta 0:00:04
     ---------------- ----------------------- 1.7/4.2 MB 639.8 kB/s eta 0:00:04
     ---------------- ----------------------- 1.7/4.2 MB 614.9 kB/s eta 0:00:04
     ---------------- ----------------------- 1.7/4.2 MB 611.6 kB/s eta 0:00:04
     ---------------- ----------------------- 1.8/4.2 MB 608.7 kB/s eta 0:00:04
     ----------------- ---------------------- 1.8/4.2 MB 606.3 kB/s eta 0:00:04
     ----------------- ---------------------- 1.8/4.2 MB 606.8 kB/s eta 0:00:04
     ----------------- ---------------------- 1.8/4.2 MB 601.0 kB/s eta 0:00:04
     ----------------- ---------------------- 1.8/4.2 MB 601.0 kB/s eta 0:00:04
     ----------------- ---------------------- 1.8/4.2 MB 598.4 kB/s eta 0:00:04
     ----------------- ---------------------- 1.8/4.2 MB 598.4 kB/s eta 0:00:04
     ----------------- ---------------------- 1.9/4.2 MB 587.3 kB/s eta 0:00:04
     ------------------ --------------------- 1.9/4.2 MB 585.3 kB/s eta 0:00:04
     ------------------ --------------------- 1.9/4.2 MB 582.9 kB/s eta 0:00:04
     ------------------ --------------------- 1.9/4.2 MB 582.9 kB/s eta 0:00:04
     ------------------ --------------------- 1.9/4.2 MB 569.9 kB/s eta 0:00:04
     ------------------ --------------------- 2.0/4.2 MB 568.6 kB/s eta 0:00:04
     ------------------ --------------------- 2.0/4.2 MB 569.4 kB/s eta 0:00:04
     ------------------- -------------------- 2.0/4.2 MB 567.1 kB/s eta 0:00:04
     ------------------- -------------------- 2.0/4.2 MB 567.1 kB/s eta 0:00:04
     ------------------- -------------------- 2.0/4.2 MB 567.1 kB/s eta 0:00:04
     ------------------- -------------------- 2.0/4.2 MB 567.1 kB/s eta 0:00:04
     ------------------- -------------------- 2.0/4.2 MB 567.1 kB/s eta 0:00:04
     ------------------- -------------------- 2.1/4.2 MB 551.6 kB/s eta 0:00:04
     -------------------- ------------------- 2.1/4.2 MB 555.6 kB/s eta 0:00:04
     -------------------- ------------------- 2.1/4.2 MB 555.6 kB/s eta 0:00:04
     -------------------- ------------------- 2.1/4.2 MB 544.8 kB/s eta 0:00:04
     -------------------- ------------------- 2.2/4.2 MB 546.1 kB/s eta 0:00:04
     -------------------- ------------------- 2.2/4.2 MB 546.1 kB/s eta 0:00:04
     -------------------- ------------------- 2.2/4.2 MB 546.1 kB/s eta 0:00:04
     --------------------- ------------------ 2.2/4.2 MB 537.4 kB/s eta 0:00:04
     --------------------- ------------------ 2.2/4.2 MB 537.4 kB/s eta 0:00:04
     --------------------- ------------------ 2.2/4.2 MB 537.4 kB/s eta 0:00:04
     --------------------- ------------------ 2.2/4.2 MB 528.7 kB/s eta 0:00:04
     --------------------- ------------------ 2.3/4.2 MB 521.9 kB/s eta 0:00:04
     --------------------- ------------------ 2.3/4.2 MB 524.3 kB/s eta 0:00:04
     --------------------- ------------------ 2.3/4.2 MB 521.4 kB/s eta 0:00:04
     --------------------- ------------------ 2.3/4.2 MB 520.0 kB/s eta 0:00:04
     ---------------------- ----------------- 2.3/4.2 MB 517.4 kB/s eta 0:00:04
     ---------------------- ----------------- 2.3/4.2 MB 516.0 kB/s eta 0:00:04
     ---------------------- ----------------- 2.3/4.2 MB 513.5 kB/s eta 0:00:04
     ---------------------- ----------------- 2.4/4.2 MB 514.5 kB/s eta 0:00:04
     ---------------------- ----------------- 2.4/4.2 MB 509.7 kB/s eta 0:00:04
     ---------------------- ----------------- 2.4/4.2 MB 508.9 kB/s eta 0:00:04
     ----------------------- ---------------- 2.4/4.2 MB 507.8 kB/s eta 0:00:04
     ----------------------- ---------------- 2.4/4.2 MB 507.8 kB/s eta 0:00:04
     ----------------------- ---------------- 2.4/4.2 MB 502.1 kB/s eta 0:00:04
     ----------------------- ---------------- 2.4/4.2 MB 502.1 kB/s eta 0:00:04
     ----------------------- ---------------- 2.4/4.2 MB 496.8 kB/s eta 0:00:04
     ----------------------- ---------------- 2.5/4.2 MB 490.9 kB/s eta 0:00:04
     ----------------------- ---------------- 2.5/4.2 MB 490.5 kB/s eta 0:00:04
     ----------------------- ---------------- 2.5/4.2 MB 490.5 kB/s eta 0:00:04
     ----------------------- ---------------- 2.5/4.2 MB 482.0 kB/s eta 0:00:04
     ----------------------- ---------------- 2.5/4.2 MB 482.0 kB/s eta 0:00:04
     ------------------------ --------------- 2.5/4.2 MB 480.2 kB/s eta 0:00:04
     ------------------------ --------------- 2.5/4.2 MB 480.2 kB/s eta 0:00:04
     ------------------------ --------------- 2.5/4.2 MB 475.6 kB/s eta 0:00:04
     ------------------------ --------------- 2.5/4.2 MB 469.2 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 468.9 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 468.1 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 466.0 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 466.0 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 463.1 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 463.1 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 463.1 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 463.1 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 463.1 kB/s eta 0:00:04
     ------------------------ --------------- 2.6/4.2 MB 463.1 kB/s eta 0:00:04
     ------------------------- -------------- 2.6/4.2 MB 446.2 kB/s eta 0:00:04
     ------------------------- -------------- 2.6/4.2 MB 446.2 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 441.4 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 441.4 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 441.4 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 441.4 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 431.4 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 431.4 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 426.5 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 426.5 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 426.5 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 426.5 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 416.3 kB/s eta 0:00:04
     ------------------------- -------------- 2.7/4.2 MB 416.3 kB/s eta 0:00:04
     -------------------------- ------------- 2.7/4.2 MB 410.0 kB/s eta 0:00:04
     -------------------------- ------------- 2.7/4.2 MB 410.0 kB/s eta 0:00:04
     -------------------------- ------------- 2.7/4.2 MB 410.0 kB/s eta 0:00:04
     -------------------------- ------------- 2.7/4.2 MB 405.4 kB/s eta 0:00:04
     -------------------------- ------------- 2.7/4.2 MB 405.4 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 402.8 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 402.8 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 397.9 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 397.9 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 397.9 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 394.7 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 394.7 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 390.0 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 390.0 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 387.0 kB/s eta 0:00:04
     -------------------------- ------------- 2.8/4.2 MB 387.0 kB/s eta 0:00:04
     --------------------------- ------------ 2.8/4.2 MB 386.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.8/4.2 MB 386.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.8/4.2 MB 382.2 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 381.1 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 381.1 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 381.1 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 376.8 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 376.8 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 376.8 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 370.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 370.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 370.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 366.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 366.5 kB/s eta 0:00:04
     --------------------------- ------------ 2.9/4.2 MB 366.5 kB/s eta 0:00:04
     ---------------------------- ----------- 2.9/4.2 MB 361.9 kB/s eta 0:00:04
     ---------------------------- ----------- 2.9/4.2 MB 361.9 kB/s eta 0:00:04
     ---------------------------- ----------- 2.9/4.2 MB 359.1 kB/s eta 0:00:04
     ---------------------------- ----------- 2.9/4.2 MB 359.1 kB/s eta 0:00:04
     ---------------------------- ----------- 2.9/4.2 MB 359.1 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 355.4 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 343.7 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 343.7 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 341.8 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 341.8 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 341.8 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 338.1 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 338.1 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 338.1 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 334.5 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 334.5 kB/s eta 0:00:04
     ---------------------------- ----------- 3.0/4.2 MB 334.5 kB/s eta 0:00:04
     ----------------------------- ---------- 3.0/4.2 MB 330.5 kB/s eta 0:00:04
     ----------------------------- ---------- 3.0/4.2 MB 330.5 kB/s eta 0:00:04
     ----------------------------- ---------- 3.0/4.2 MB 330.5 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 327.7 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 327.7 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 326.6 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 326.6 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 325.0 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 325.0 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 322.9 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 322.9 kB/s eta 0:00:04
     ----------------------------- ---------- 3.1/4.2 MB 321.9 kB/s eta 0:00:04
     ------------------------------ --------- 3.1/4.2 MB 320.3 kB/s eta 0:00:04
     ------------------------------ --------- 3.1/4.2 MB 320.9 kB/s eta 0:00:04
     ------------------------------ --------- 3.1/4.2 MB 320.9 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 318.3 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 318.3 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 317.9 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 317.9 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 317.0 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 316.0 kB/s eta 0:00:04
     ------------------------------ --------- 3.2/4.2 MB 316.1 kB/s eta 0:00:03
     ------------------------------ --------- 3.2/4.2 MB 316.1 kB/s eta 0:00:03
     ------------------------------- -------- 3.2/4.2 MB 315.2 kB/s eta 0:00:03
     ------------------------------- -------- 3.2/4.2 MB 315.2 kB/s eta 0:00:03
     ------------------------------- -------- 3.2/4.2 MB 315.2 kB/s eta 0:00:03
     ------------------------------- -------- 3.2/4.2 MB 315.2 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 310.1 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 312.0 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 310.2 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 310.2 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 309.9 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 309.9 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 309.9 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 305.9 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 305.9 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 306.0 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 306.0 kB/s eta 0:00:03
     ------------------------------- -------- 3.3/4.2 MB 306.0 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 304.4 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 304.4 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 302.8 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 302.8 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 301.6 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 300.5 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 300.5 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 298.9 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 298.9 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 298.9 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 297.0 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 297.0 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 296.3 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 296.3 kB/s eta 0:00:03
     -------------------------------- ------- 3.4/4.2 MB 296.3 kB/s eta 0:00:03
     --------------------------------- ------ 3.5/4.2 MB 295.8 kB/s eta 0:00:03
     --------------------------------- ------ 3.5/4.2 MB 295.8 kB/s eta 0:00:03

In [5]:
import pdfminer
from pdfminer.high_level import extract_tables

def extract_tables(pdf_path):

  with open(pdf_path, "rb") as f:
    pdf = pdfminer.PdfFileReader(f)

    tables = extract_tables(pdf)

    return tables

def main(pdf_path, value):

  tables = extract_tables(pdf_path)

  for table in tables:
    if value in table:
      print(f"Found table on page {table.page_number}")

if __name__ == "__main__":
  pdf_path = "forecast.pdf"
  value = input("Enter the value to search for in the table: ")

  main(pdf_path, value)

ImportError: cannot import name 'extract_tables' from 'pdfminer.high_level' (C:\Users\User\anaconda3\Lib\site-packages\pdfminer\high_level.py)

In [6]:
import pdfminer
from pdfminer.layout import LTTextBox, LTTextLine, LTTextBoxHorizontal

def extract_tables(pdf_path):

  with open(pdf_path, "rb") as f:
    pdf = pdfminer.PdfFileReader(f)

    pages = pdf.pages

    tables = []
    for page in pages:
      layout = pdfminer.layout.PDFPageLayout(page)

      table = []
      for element in layout:
        if isinstance(element, LTTextBoxHorizontal):
          row = []
          for line in element.lines:
            if isinstance(line, LTTextLine):
              row.append(line.get_text())

          if row:
            table.append(row)

      if table:
        tables.append(table)

    return tables

def main(pdf_path, value):

  tables = extract_tables(pdf_path)

  for table in tables:
    if value in table:
      print(f"Found table on page {table[0][0]}")

if __name__ == "__main__":
  pdf_path = "forecast.pdf"
  value = input("Enter the value to search for in the table: ")

  main(pdf_path, value)

Enter the value to search for in the table: West

AttributeError: module 'pdfminer' has no attribute 'PdfFileReader'

In [7]:
import PyPDF2

def extract_tables(pdf_path):

  with open(pdf_path, "rb") as f:
    pdf = PyPDF2.PdfFileReader(f)

    tables = []
    for page in pdf.pages:
      table = page.extract_tables()[0]
      tables.append(table)

    return tables

def main(pdf_path, value):

  tables = extract_tables(pdf_path)

  for table in tables:
    if value in table:
      print(f"Found table on page {table[0][0]}")

if __name__ == "__main__":
  pdf_path = "forecast.pdf"
  value = input("Enter the value to search for in the table: ")

  main(pdf_path, value)

Enter the value to search for in the table: West

AttributeError: 'PageObject' object has no attribute 'extract_tables'

In [8]:
import tabula
import pandas as pd

def find_all_tables(pdf_path, value):

  tables = tabula.read_pdf(pdf_path, pages="all")
  found_tables = []
  for table in tables:
    if value in table.to_string():
      found_tables.append(table)

  return found_tables

def print_tables_as_dataframes(found_tables):

  for i, table in enumerate(found_tables):
    # Convert the table to a Pandas DataFrame
    df = pd.DataFrame(table)

    # Print the Pandas DataFrame
    print("Table {}:".format(i + 1))
    print(df)

if __name__ == "__main__":

  pdf_path = "forecast.pdf"
  value = input("Enter the value to search for in the table: ")

  found_tables = find_all_tables(pdf_path, value)

  if found_tables:
    print_tables_as_dataframes(found_tables)
  else:
    print("No tables found containing the given value.")

Enter the value to search for in the table: Gulf Coast

AttributeError: module 'tabula' has no attribute 'read_pdf'

In [31]:
import tabula

def find_tables_containing_values(pdf_path, values):

    tables = tabula.read_pdf(pdf_path, pages="all")
    found_tables = []
    for table in tables:
        
        for value in values:
            
            if value in table.to_string():
                
                found_tables.append(table)
        break

        return found_tables

def print_tables(tables):

      for table in tables:
            
            print(table)

#if __name__ == "__main__":
pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"]

found_tables = find_tables_containing_values(pdf_path, values)

if found_tables:
    print("Tables containing the specified values:")
    print_tables(found_tables)
else:
    print("No tables found containing the given values.")

No tables found containing the given values.

In [13]:
#import tabula

def find_tables_containing_values(values):
    pdf_path = "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    found_tables = []
    for table in tables:
        for value in values:
            if value in table.to_string():
                found_tables.append(table)
                break

    return found_tables

def print_tables(found_tables):
    if found_tables:
        print("Tables containing the specified values:")
        for i, table in enumerate(found_tables):
            print(f"Table {i + 1}:")
            print(table)
            
            # Get the user's choice of table
        table_number = int(input("Enter the number of the table you want to print: "))
        table_numbers = [table_number]

    # Print the selected table as a DataFrame
        for table_number in table_numbers:
            print(f"Table {table_number}:")
            print(found_tables[table_number ])

    else:
        print("No tables found containing the given values.")

#if __name__ == "__main__":
    

pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"]

found_tables = find_tables_containing_values(values)

print_tables(found_tables)

Tables containing the specified values:
Table 1:
        7/29/2022 Dry Production      Unnamed: 0 RJiagns-22  Unnamed: 1  \
0   Mid Continent    mmcfd Yr/Yr             Gas        Oil         NaN
1             NaN            NaN             NaN     Jun-22         NaN
2      Summer '22       8,786 91              14        NaN        55.0
3             NaN            NaN             NaN        NaN         NaN
4  Winter '22/'23      8,871 305  20No v  - 2  2        NaN        54.0
5      Summer '23      9,058 271              19        NaN        55.0
6            2022      8,722 139  14Ap r  - 2  3        NaN        57.0
7             NaN            NaN             NaN        NaN         NaN
8            2023      9,033 311              19        NaN        55.0

  Avg IP's   Well Unnamed: 2   PEPL Unnamed: 3
0     mcfd  Count        NaN  Price     Jan-22
1      NaN    NaN        NaN    NaN        NaN
2    2,066    973          $   7.66        NaN
3      NaN    NaN        NaN    NaN     Jun-22
4    2,522    678          $   8.14        NaN
5    2,136    971          $   4.34     Nov-22
6    2,019  1,697          $   7.94        NaN
7      NaN    NaN        NaN    NaN     Apr-23
8    2,236  1,661          $   5.40        NaN
Table 2:
      Mid Continent May-22 Jun-22 Jul-22 Aug-22 Sep-22 Oct-22 Nov-22 Dec-22  \
0  Dry Prod (mmcfd)  8,921  8,828  8,603  8,703  8,765  8,808  8,820  8,835
1     Yr/Yr (mmcfd)    153    182   (44)      8     86    162    213    117
2          Gas Rigs     13     13     14     15     16     17     18     19
3          Oil Rigs     55     51     52     54     55     56     55     55
4        Well Count    158    154    134    118    121    126    131    136
5    IP (mcfd/well)  1,654  1,706  2,074  2,434  2,497  2,503  2,509  2,516

  Jan-23 Feb-23 Mar-23 Apr-23
0  8,850  8,885  8,962  9,005
1    378    502    313    128
2     20     21     20     20
3     54     53     53     53
4    136    138    137    137
5  2,522  2,528  2,535  2,125
Table 3:
      7/29/2022 Dry Production Unnamed: 0  RJaigns-22 Avg IP's   Well  \
0          Permian mmcfd Yr/Yr        Gas       Jun-22Oil mcfd  Count
1      Summer '22 16,048 1,465         16            309 1,925  2,596
2  Winter '22/'23 16,624 1,116  1N9ov - 2           2319 1,956  1,905
3  Nov-22Summer '23 17,033 985         16  3.16Apr-23303 1,970  2,506
4            2022 15,993 1,810         17            305 1,920  4,443
5              2023 16,986 992  1S6ep - 2           3305 1,967  4,310

  Unnamed: 1 EP Per  Unnamed: 2 Unnamed: 3
0        NaN  Price         NaN     Jan-22
1          $   7.25         NaN     Jun-22
2          $   7.03         NaN        NaN
3          $    NaN         NaN        NaN
4          $   7.33         NaN     Apr-23
5          $   4.26         NaN        NaN
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Table 5:
        7/29/2022 Dry Production Unnamed: 0  Rigs Unnamed: 1  Unnamed: 2  \
0  TX District 7C    mmcfd Yr/Yr        Gas   NaN        Oil         NaN
1      Summer '22       1,898 26          -   NaN        NaN        28.0
2  Winter '22/'23      1,900 (4)          -   NaN        NaN        29.0
3      Summer '23      1,889 (9)          -   NaN        NaN        28.0
4            2022       1,900 72          -   NaN        NaN        28.0
5            2023     1,890 (10)          -   NaN        NaN        28.0

  Avg IP's   Well Unnamed: 3 EP Per     7/29/2022.1 Dry Production.1  \
0     mcfd  Count        NaN  Price      NM Permian      mmcfd Yr/Yr
1      878    336          $   7.25      Summer '22        5,033 605
2      894    234          $   7.03  Winter '22/'23        5,352 684
3      911    302          $   3.16      Summer '23        5,560 527
4      877    571          $   7.33            2022        4,990 711
5      909    519          $   4.26            2023        5,532 542

  Unnamed: 4  Rigs.1 Unnamed: 5  Unnamed: 6 Avg IP's.1 Well.1 Unnamed: 7  \
0        Gas     NaN        Oil         NaN       mcfd  Count        NaN
1         16     NaN        NaN        79.0      2,744    822          $
2         19     NaN        NaN        81.0      2,750    608          $
3         16     NaN        NaN        77.0      2,750    798          $
4         17     NaN        NaN        78.0      2,737  1,389          $
5         16     NaN        NaN        77.0      2,750  1,362          $

  EP Per.1
0    Price
1     7.25
2     7.03
3     3.16
4     7.33
5     4.26
Table 6:
                                           Unnamed: 0  \
0                           Permian rigs increased by
1                                                 NaN
2                           increasing by 5 rigs over
3                          326 rigs. Public companies
4                                                 NaN
5                       while private companies added
6                                                 NaN
7   make up 51% of the drilling in the Permian (16...
8                                                 NaN
9                               more and more Permian
10                                                NaN
11                        pipelines, keeping track of
12                  $2.00has gotten more challenging.

                                  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                                         12        NaN       rigs      since
1                                        NaN        NaN        NaN        NaN
2                                        the   previous        NaN        NaN
3                                        NaN      added        NaN          8
4                                        NaN        NaN        NaN        NaN
5                                        NaN        NaN    4 rigs;        NaN
6                                        NaN        NaN        NaN        NaN
7                                        NaN        NaN        NaN        NaN
8                                        NaN        NaN        NaN        NaN
9                                 production        NaN        NaN        has
10                                       NaN        NaN        NaN        NaN
11  just Permian production on a daily basis        NaN        NaN        NaN
12                                       NaN       With        NaN       this

                 Unnamed: 5   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                  our last    forecast,         NaN       after         NaN
1                    Apr-18          NaN         NaN         NaN         NaN
2        6 weeks, currently          NaN         NaN  sitting at         NaN
3       rigs siSnecpe-18the         last         NaN    forecast         NaN
4                       NaN          NaN         NaN         NaN         NaN
5   privateFecbo-1m9 panies          NaN         NaN   currently         NaN
6                       NaN          NaN         NaN         NaN         NaN
7                       NaN          NaN         NaN          As         NaN
8                       NaN          NaN         NaN         NaN         NaN
9                grown into          the  intrastate         NaN         NaN
10                   Dec-19          NaN         NaN         NaN         NaN
11                      NaN          NaN         NaN         NaN         NaN
12     May-20 update, we’ve  reallocated         NaN         NaN         NaN

    Unnamed: 10 Unnamed: 11                   Unnamed: 12  \
0           NaN         NaN                           NaN
1           NaN         NaN               Whistler - Full
2           NaN      19,000            Whistler - Partial
3           NaN         NaN        Permian Highway - Full
4           NaN      17,000             Samalayuca-Sasabe
5           NaN         NaN                           NaN
6           NaN         NaN     Permian Highway - Partial
7           NaN      15,000                           NaN
8           NaN         NaN     Gulf Coast Express - Full
9           NaN         NaN                           NaN
10          NaN      13,000  Gulf Coast Express - Partial
11          NaN         NaN                           NaN
12          NaN      11,000                           NaN

                GCX Expansion
0                       $9.00
1   Permian Highway Expansion
2     $8.00Whistler Expansion
3                       $7.00
4                         NaN
5                       $6.00
6                         NaN
7                       $5.00
8                         NaN
9                       $4.00
10                        NaN
11                      $3.00
12                        NaN
Table 7:
                                               Sep-23  \
0   After a busy May, June and July proved relativ...
1   infrastructure announcements. In its July 20th...
2                                               1,200
3   PHP Expansion project for +0.55 bcfd targeting...
4   However, the +0.57 bcfd GCX Expansion was not ...
5   KMI noted that it was in discussion with shipp...
6   capacity” to serve LNG facilities. This may de...
7                                                 NaN
8   expansion’s incremental capacity, but the +Ja0...
9   Expansion along the same route will relieve so...
10  Our dry production forecast continues to crest...
11  Constraints line, which is a simple repreJsaen...
12  infrastructure since 2017 capped to 90% nMaamy...
13  however, we have previously seen dry gas prodS...
14  2 bcfd over these expectations via local demaJ...
15  displacement along all outbound pipelines. May...
16                                                NaN
17   Sep-19Texas District 8 IP’s vs. Rig Efficiencies
18                                             Jan-20
19               3,000  4.0100/1/20May-20 2.00  4,000
20                                Sep-20  1.80  3,500
21                                              2,500
22                          Jan-21  1.60 6/1/21 3,000
23                           2,000 May-21 1.40  2,500
24                                       Sep-21  1.20
25                          1,500 Jan-22  1.00  2,000
26                                May-22  0.80  1,500
27                          1,000 Sep-22  0.60  1,000
28                                             Jan-23
29                                               0.40
30                                    500 May-23  500
31                             10/1/23Sep-23  0.20  -

                              Unnamed: 0  Unnamed: 1    Unnamed: 2
0                                    NaN         NaN           NaN
1                                    NaN         NaN           NaN
2                                    NaN         NaN           NaN
3                                    NaN         NaN           NaN
4                                  mmcfd         NaN           NaN
5                                    NaN         NaN           NaN
6                                    NaN         NaN           NaN
7                                    NaN         NaN       10/1/17
8                                    NaN         NaN           NaN
9                                    NaN         NaN        2/1/18
10                                   NaN         NaN        6/1/18
11                                   NaN         NaN       10/1/18
12                                   NaN         NaN        2/1/19
13                                   NaN         NaN        6/1/19
14                                   NaN         NaN       10/1/19
15                     1/1/2021 1/1/2022         NaN           NaN
16                                   NaN         NaN        2/1/20
17  Permian NM IP’s vs. Rig Efficiencies         NaN        6/1/20
18                                   NaN         NaN           NaN
19                                   NaN         NaN           NaN
20                                   NaN         NaN    3.502/1/21
21                                   NaN         NaN           NaN
22                                   NaN         NaN          3.00
23                                   NaN         NaN  10/1/21 2.50
24                                   NaN         NaN        2/1/22
25                                   NaN         NaN    2.006/1/22
26                                   NaN         NaN   1.5100/1/22
27                                   NaN         NaN    1.002/1/23
28                                   NaN         NaN           NaN
29                                   NaN         NaN           NaN
30                                   NaN         NaN    0.506/1/23
31                                   NaN         NaN             -
Table 8:
       Unnamed: 0      Unnamed: 1    Unnamed: 2   Unnamed: 3  Unnamed: 4  \
0       7/29/2022  Dry Production           NaN   JRaing-s22         NaN
1         Rockies     mmcfd Yr/Yr           Gas          Oil         NaN
2      Summer '22     9,889 (400)           NaN  J9un-  2  2        77.0
3             NaN             NaN           NaN          NaN         NaN
4  Winter '22/'23      10,338 527            12          NaN        79.0
5             NaN             NaN        Nov-22          NaN         NaN
6      Summer '23      10,585 697            13          NaN        70.0
7            2022     9,893 (360)  A 8pr-  2  3          NaN        73.0
8            2023      10,552 660            12          NaN        72.0

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  Aug-21
0   Avg IP's       Well        NaN       NWPL     NaN
1       mcfd      Count        NaN      Price  Jan-22
2      1,059      1,633          $       7.79     NaN
3        NaN        NaN        NaN        NaN  Jun-22
4      1,147      1,371          $       8.58     NaN
5        NaN        NaN        NaN        NaN     NaN
6      1,228      1,833          $       4.48  Nov-22
7      1,054      2,786          $       8.30     NaN
8      1,213      3,150          $       5.68  Apr-23
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 10:
                                              Jun-17         Unnamed: 0  \
0                                                NaN                NaN
1                    Rockies Regional AnaNolvy-17sis                NaN
2  Our 2022 production yr/yr chaAnpgr-e18 estimat...          increased
3  mmcfd, as we are now calling foSerp-a18 year-o...           decrease
4  bcfd (vs. a -0.40 bcfd yr/yr decreFaebs-1e9 pr...  We are increasing
5  our 2023 yr/yr outlook by ~80 mJmul-1c9fd, now...                NaN

         Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0               NaN         NaN         NaN     Jan-17
1               NaN         NaN         NaN     Jun-17
2            by ~40         NaN         NaN     Nov-17
3          of -0.36         NaN         NaN     Apr-18
4               NaN         NaN         NaN     Sep-18
5  for a +0.66 bcfd         NaN         NaN     Feb-19
Table 11:
                    Rockies Regional Analysis (cont.) Unnamed: 0 Unnamed: 1  \
0                Biggest Impact / Risks / Assumptions        NaN        NaN
1   In July, our overall Rockies pipe estimates ca...        ~70    800,000
2   mmcfd higher than forecast, with relatively sm...        NaN    700,000
3   in the various sub-basins. As such, our foreca...        NaN    600,000
4   remains largely unchanged with slight growth f...        NaN        NaN
5                                                 NaN        NaN    500,000
6   through the balance of the year and into 2023,...        NaN        NaN
7                                                 NaN        NaN    400,000
8   levels of ~10.0 bcfd average for July to year ...        NaN        NaN
9   bcfd. Slight growth is distributed amongst the...        NaN    300,000
10  basins, as drilling economics remain strong th...         In    200,000
11  the Bakken, recovery from the severe weather i...        and    100,000
12  May causing widespread power outages and produ...        NaN          0
13  ins took longer than HES had originally antici...        NaN        NaN
14  stats for May show grow produced volumes of ~2...        NaN        NaN
15  compared to March levels of ~3.01 bcfd. Our no...        NaN        NaN
16  would suggest ND June production levels are es...        NaN        NaN
17  recovered to March levels. Looking forward, gr...      still        NaN
18  slated for the second half in earnings comment...          a      6,000
19  comparison, HES expects ~50 new wells to be br...        NaN        NaN
20                                                NaN        NaN      5,000
21  in H2 vs. 32 new wells in H1. HES’s guidance a...        NaN        NaN
22  this growth view, with Q3 pegged at 155-160 mb...        NaN      4,000
23  continuing to grow to 160-165 mboepd, with the...        NaN      3,000
24  trajectory continuing to a 200 mboepd planned ...         As        NaN
25                                                NaN        NaN      2,000
26  noted before, new gas plants continue to beJan...        NaN        NaN
27  with OneOk’s Bear Creek plant expansion coJumn...         in      1,000
28  Q4, and their Demicks Lake III plant scheduled...        NaN          -
29  in Q1 ’23, bringing OneOk’s Williston capacity...        NaN        NaN
30                                             Sep-18        NaN        NaN
31  In the DJ basin, we have very slight growth pr...       from        NaN
32                                             Feb-19        NaN        NaN
33  ~2.5 bcfd in July to a projected ~2.6 bcfd Jul...          –        NaN
34  essentially flat based on conservatively const...        NaN        NaN
35                                             Dec-19        NaN        NaN
36  plans by the main DJ operators. Long permittin...        NaN        NaN
37                                                NaN        NaN        NaN
38                                             May-20        NaN      1,800
39  put in place by Colorado have led to long-date...        NaN        NaN
40                                                NaN        NaN      1,600
41  plans which in the current financial environmO...        NaN        NaN
42                                                NaN        NaN      1,400
43  focus on free-cash-flow. As such we have Mmara...        our      1,200
44  relatively steady forecast there. Seasonally, ...        NaN      1,000

Enter the number of the table you want to print: 4
Table 4:
        7/29/2022 Dry Production Unnamed: 0  Rigs Unnamed: 1  Unnamed: 2  \
0  TX District 7C    mmcfd Yr/Yr        Gas   NaN        Oil         NaN
1      Summer '22       1,898 26          -   NaN        NaN        28.0
2  Winter '22/'23      1,900 (4)          -   NaN        NaN        29.0
3      Summer '23      1,889 (9)          -   NaN        NaN        28.0
4            2022       1,900 72          -   NaN        NaN        28.0
5            2023     1,890 (10)          -   NaN        NaN        28.0

  Avg IP's   Well Unnamed: 3 EP Per     7/29/2022.1 Dry Production.1  \
0     mcfd  Count        NaN  Price      NM Permian      mmcfd Yr/Yr
1      878    336          $   7.25      Summer '22        5,033 605
2      894    234          $   7.03  Winter '22/'23        5,352 684
3      911    302          $   3.16      Summer '23        5,560 527
4      877    571          $   7.33            2022        4,990 711
5      909    519          $   4.26            2023        5,532 542

  Unnamed: 4  Rigs.1 Unnamed: 5  Unnamed: 6 Avg IP's.1 Well.1 Unnamed: 7  \
0        Gas     NaN        Oil         NaN       mcfd  Count        NaN
1         16     NaN        NaN        79.0      2,744    822          $
2         19     NaN        NaN        81.0      2,750    608          $
3         16     NaN        NaN        77.0      2,750    798          $
4         17     NaN        NaN        78.0      2,737  1,389          $
5         16     NaN        NaN        77.0      2,750  1,362          $

  EP Per.1
0    Price
1     7.25
2     7.03
3     3.16
4     7.33
5     4.26

In [ ]:
#import tabula

def find_first_table( value):
    pdf_path= "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all") 
    for table in tables:
        if value in table.to_string():
            return table
    return None

def find_second_table( value):
    pdf_path= "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
            if table_count == 2:
                return table
    return None
def find_third_table( value):
    pdf_path= "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
            if table_count == 3:
                return table
    return None
def find_fourth_table( value):
    pdf_path= "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
            if table_count == 4:
                return table
    return None
def find_fifth_table( value):
    pdf_path= "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
            if table_count == 5:
                return table
    return None


def main( value):
    pdf_path= "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    table_count = 0
    for table in tables:
        if value in table.to_string():
            table_count += 1
        if table_count == 5:
            return table
    return None

#if __name__ == "__main__":
    
#pdf_path = "forecast.pdf"
#value = input("Enter the value to search for in the table: ")

#first_table = find_first_table( value)
#second_table = find_second_table( value)
#third_table = find_third_table( value)
#fourth_table = find_fourth_table( value)
#fifth_table = find_fifth_table( value)


if first_table is not None:
    print("First table:")
    print(first_table)
else:
    print("No first table found containing the given value.")

if second_table is not None:
    print("Second table:")
    print(second_table)
else:
    print("No second table found containing the given value.")

if second_table is not None:
    print("third table:")
    print(third_table)
else:
    print("No second table found containing the given value.")

if second_table is not None:
    print("fourth table:")
    print(fourth_table)
else:
    print("No second table found containing the given value.")
if second_table is not None:
    print("fifth table:")
    print(fifth_table)
else:
    print("No second table found containing the given value.")
    
    
    
    
    
    
value= "South Texas"
South_Texas=find_second_table(value)

In [ ]:
import tabula

def find_tables_containing_values(values):
    pdf_path = "forecast.pdf"
    tables = tabula.read_pdf(pdf_path, pages="all")
    found_tables = []
    for table in tables:
        for value in values:
            if value in table.to_string():
                found_tables.append(table)
                break

    return found_tables

var_dict={}

def print_tables(found_tables):
    if found_tables:
        print("Tables containing the specified values:")
        for i, table in enumerate(found_tables):
            print(f"Table {i + 1}:")
            print(table)
            var_name = f'Table {i + 1}'
            #table[var_name] = table
            for row in table:
                table[var_name].append(row)
            

            
            # Get the user's choice of table
        table_numbers = input("Enter the number of the tables you want to print: ").split(",")

        
        # Convert the table numbers to integers
        table_numbers = [int(table_number) for table_number in table_numbers]
        # Print the selected table as a DataFrame
        for table_number in table_numbers:
            print(f"Table {table_number}:")
            print(found_tables[table_number -1])
            #table = found_tables[table_number -1]
            # Convert the table to a list
            
            
            for row in table:
                list_of_lists[table_number].append(row)

    else:
        print("No tables found containing the given values.")

#if __name__ == "__main__":
    

pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"]

found_tables = find_tables_containing_values(values)

print_tables(found_tables)

In [7]:
def find_table(value): 
    #This function takes the value to search for as input and returns a list of tables containing the given value.
    pdf_path = "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all") #Reads the PDF file and stores the tables in a list called tables.

    table_count = 0 #This variable will be used to count the number of tables that contain the given value.
    tables_found = [] # This list will store the tables that contain the given value.
    for table in tables:#Iterates over the list of tables.
        if value in table.to_string(): #Checks if the given value is present in the current table.
            table_count += 1 # If the given value is present, increments the table_count variable by 1.
            tables_found.append(table)# Appends the current table to the tables_found list.
    return tables_found


def print_tables(tables): #This function takes a list of tables as input and prints the tables to the console.
    for i in range(len(tables)): #Iterates over the list of tables.
        print(f"Table {i + 1}:") #Prints the table number.
        print(tables[i]) #Prints the table.
        print("------------")

def get_table_number(tables): #This function takes a list of tables as input and prompts the user to enter a table number.
                              #The function then returns the table number entered by the user.
    table_number = int(input("Enter the table number: ")) # Prompts the user to enter a table number.
    while table_number < 1 or table_number > len(tables):
        #Checks if the table number entered by the user is valid. If the table number is not valid,
        #the function prints an error message and prompts the user to enter the table number again.
        print("Invalid table number.")
        table_number = int(input("Enter the table number: "))

    return table_number #Returns the table number entered by the user.



tables_found=[]
pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"] # the user to enter a value to search for in the tables.
for value in values:
    tables_found = find_table(value) #Calls the find_table() function to find the tables containing the given value.
                                #The results are stored in the list tables_found.
for tables_founds in tables_found:
    print_tables(tables_founds)# Calls the print_tables() function to print the tables in the tables_found list to the console.

table_number = get_table_number(tables_found)#Calls the get_table_number() function to get the table number
#of the table that the user wants to view. The table number is stored in the variable table_number.

print(f"Table {table_number}:") #Prints the table number to the console.
table = tables_found[table_number - 1] #Assigns the table at the specified table number to the variable table.
print(tables_found[table_number - 1]) #Prints the table table to the console.

Table 1:

KeyError: 0

In [28]:
def find_table(values):
    pdf_path = "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")

    table_count = 0
    tables_found = []
    for table in tables:
        for value in values:
            if value in table.to_string():
                table_count += 1
                tables_found.append(table)

    return tables_found


def print_tables(tables):
    for i in range(len(tables)):
        print(f"Table {i + 1}:")
        print(tables[i])


def get_table_number(tables):
    table_numbers=[]
    a = int(input("Enter the table number: "))
    table_numbers.append(a)
    for table_number in table_numbers:
        if table_number < 1 or table_number > len(tables):
            print("Invalid table number.")
            table_number = int(input("Enter the table number: "))
        else:
            print(f"Table {table_number}:")
            table = tables[table_number - 1]
            print(tables[table_number - 1])
            #return table
            a=print("Enter the table number:")
            table_numbers.append(a)
   # return table_number


#if __name__ == "__main__":
pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"]

tables_found = find_table(values)

print_tables(tables_found)

table_number = get_table_number(tables_found)

#tables=table

Table 1:
        7/29/2022 Dry Production      Unnamed: 0 RJiagns-22  Unnamed: 1  \
0   Mid Continent    mmcfd Yr/Yr             Gas        Oil         NaN
1             NaN            NaN             NaN     Jun-22         NaN
2      Summer '22       8,786 91              14        NaN        55.0
3             NaN            NaN             NaN        NaN         NaN
4  Winter '22/'23      8,871 305  20No v  - 2  2        NaN        54.0
5      Summer '23      9,058 271              19        NaN        55.0
6            2022      8,722 139  14Ap r  - 2  3        NaN        57.0
7             NaN            NaN             NaN        NaN         NaN
8            2023      9,033 311              19        NaN        55.0

  Avg IP's   Well Unnamed: 2   PEPL Unnamed: 3
0     mcfd  Count        NaN  Price     Jan-22
1      NaN    NaN        NaN    NaN        NaN
2    2,066    973          $   7.66        NaN
3      NaN    NaN        NaN    NaN     Jun-22
4    2,522    678          $   8.14        NaN
5    2,136    971          $   4.34     Nov-22
6    2,019  1,697          $   7.94        NaN
7      NaN    NaN        NaN    NaN     Apr-23
8    2,236  1,661          $   5.40        NaN
Table 2:
      Mid Continent May-22 Jun-22 Jul-22 Aug-22 Sep-22 Oct-22 Nov-22 Dec-22  \
0  Dry Prod (mmcfd)  8,921  8,828  8,603  8,703  8,765  8,808  8,820  8,835
1     Yr/Yr (mmcfd)    153    182   (44)      8     86    162    213    117
2          Gas Rigs     13     13     14     15     16     17     18     19
3          Oil Rigs     55     51     52     54     55     56     55     55
4        Well Count    158    154    134    118    121    126    131    136
5    IP (mcfd/well)  1,654  1,706  2,074  2,434  2,497  2,503  2,509  2,516

  Jan-23 Feb-23 Mar-23 Apr-23
0  8,850  8,885  8,962  9,005
1    378    502    313    128
2     20     21     20     20
3     54     53     53     53
4    136    138    137    137
5  2,522  2,528  2,535  2,125
Table 3:
      7/29/2022 Dry Production Unnamed: 0  RJaigns-22 Avg IP's   Well  \
0          Permian mmcfd Yr/Yr        Gas       Jun-22Oil mcfd  Count
1      Summer '22 16,048 1,465         16            309 1,925  2,596
2  Winter '22/'23 16,624 1,116  1N9ov - 2           2319 1,956  1,905
3  Nov-22Summer '23 17,033 985         16  3.16Apr-23303 1,970  2,506
4            2022 15,993 1,810         17            305 1,920  4,443
5              2023 16,986 992  1S6ep - 2           3305 1,967  4,310

  Unnamed: 1 EP Per  Unnamed: 2 Unnamed: 3
0        NaN  Price         NaN     Jan-22
1          $   7.25         NaN     Jun-22
2          $   7.03         NaN        NaN
3          $    NaN         NaN        NaN
4          $   7.33         NaN     Apr-23
5          $   4.26         NaN        NaN
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Table 5:
        7/29/2022 Dry Production Unnamed: 0  Rigs Unnamed: 1  Unnamed: 2  \
0  TX District 7C    mmcfd Yr/Yr        Gas   NaN        Oil         NaN
1      Summer '22       1,898 26          -   NaN        NaN        28.0
2  Winter '22/'23      1,900 (4)          -   NaN        NaN        29.0
3      Summer '23      1,889 (9)          -   NaN        NaN        28.0
4            2022       1,900 72          -   NaN        NaN        28.0
5            2023     1,890 (10)          -   NaN        NaN        28.0

  Avg IP's   Well Unnamed: 3 EP Per     7/29/2022.1 Dry Production.1  \
0     mcfd  Count        NaN  Price      NM Permian      mmcfd Yr/Yr
1      878    336          $   7.25      Summer '22        5,033 605
2      894    234          $   7.03  Winter '22/'23        5,352 684
3      911    302          $   3.16      Summer '23        5,560 527
4      877    571          $   7.33            2022        4,990 711
5      909    519          $   4.26            2023        5,532 542

  Unnamed: 4  Rigs.1 Unnamed: 5  Unnamed: 6 Avg IP's.1 Well.1 Unnamed: 7  \
0        Gas     NaN        Oil         NaN       mcfd  Count        NaN
1         16     NaN        NaN        79.0      2,744    822          $
2         19     NaN        NaN        81.0      2,750    608          $
3         16     NaN        NaN        77.0      2,750    798          $
4         17     NaN        NaN        78.0      2,737  1,389          $
5         16     NaN        NaN        77.0      2,750  1,362          $

  EP Per.1
0    Price
1     7.25
2     7.03
3     3.16
4     7.33
5     4.26
Table 6:
                                           Unnamed: 0  \
0                           Permian rigs increased by
1                                                 NaN
2                           increasing by 5 rigs over
3                          326 rigs. Public companies
4                                                 NaN
5                       while private companies added
6                                                 NaN
7   make up 51% of the drilling in the Permian (16...
8                                                 NaN
9                               more and more Permian
10                                                NaN
11                        pipelines, keeping track of
12                  $2.00has gotten more challenging.

                                  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                                         12        NaN       rigs      since
1                                        NaN        NaN        NaN        NaN
2                                        the   previous        NaN        NaN
3                                        NaN      added        NaN          8
4                                        NaN        NaN        NaN        NaN
5                                        NaN        NaN    4 rigs;        NaN
6                                        NaN        NaN        NaN        NaN
7                                        NaN        NaN        NaN        NaN
8                                        NaN        NaN        NaN        NaN
9                                 production        NaN        NaN        has
10                                       NaN        NaN        NaN        NaN
11  just Permian production on a daily basis        NaN        NaN        NaN
12                                       NaN       With        NaN       this

                 Unnamed: 5   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                  our last    forecast,         NaN       after         NaN
1                    Apr-18          NaN         NaN         NaN         NaN
2        6 weeks, currently          NaN         NaN  sitting at         NaN
3       rigs siSnecpe-18the         last         NaN    forecast         NaN
4                       NaN          NaN         NaN         NaN         NaN
5   privateFecbo-1m9 panies          NaN         NaN   currently         NaN
6                       NaN          NaN         NaN         NaN         NaN
7                       NaN          NaN         NaN          As         NaN
8                       NaN          NaN         NaN         NaN         NaN
9                grown into          the  intrastate         NaN         NaN
10                   Dec-19          NaN         NaN         NaN         NaN
11                      NaN          NaN         NaN         NaN         NaN
12     May-20 update, we’ve  reallocated         NaN         NaN         NaN

    Unnamed: 10 Unnamed: 11                   Unnamed: 12  \
0           NaN         NaN                           NaN
1           NaN         NaN               Whistler - Full
2           NaN      19,000            Whistler - Partial
3           NaN         NaN        Permian Highway - Full
4           NaN      17,000             Samalayuca-Sasabe
5           NaN         NaN                           NaN
6           NaN         NaN     Permian Highway - Partial
7           NaN      15,000                           NaN
8           NaN         NaN     Gulf Coast Express - Full
9           NaN         NaN                           NaN
10          NaN      13,000  Gulf Coast Express - Partial
11          NaN         NaN                           NaN
12          NaN      11,000                           NaN

                GCX Expansion
0                       $9.00
1   Permian Highway Expansion
2     $8.00Whistler Expansion
3                       $7.00
4                         NaN
5                       $6.00
6                         NaN
7                       $5.00
8                         NaN
9                       $4.00
10                        NaN
11                      $3.00
12                        NaN
Table 7:
                                               Sep-23  \
0   After a busy May, June and July proved relativ...
1   infrastructure announcements. In its July 20th...
2                                               1,200
3   PHP Expansion project for +0.55 bcfd targeting...
4   However, the +0.57 bcfd GCX Expansion was not ...
5   KMI noted that it was in discussion with shipp...
6   capacity” to serve LNG facilities. This may de...
7                                                 NaN
8   expansion’s incremental capacity, but the +Ja0...
9   Expansion along the same route will relieve so...
10  Our dry production forecast continues to crest...
11  Constraints line, which is a simple repreJsaen...
12  infrastructure since 2017 capped to 90% nMaamy...
13  however, we have previously seen dry gas prodS...
14  2 bcfd over these expectations via local demaJ...
15  displacement along all outbound pipelines. May...
16                                                NaN
17   Sep-19Texas District 8 IP’s vs. Rig Efficiencies
18                                             Jan-20
19               3,000  4.0100/1/20May-20 2.00  4,000
20                                Sep-20  1.80  3,500
21                                              2,500
22                          Jan-21  1.60 6/1/21 3,000
23                           2,000 May-21 1.40  2,500
24                                       Sep-21  1.20
25                          1,500 Jan-22  1.00  2,000
26                                May-22  0.80  1,500
27                          1,000 Sep-22  0.60  1,000
28                                             Jan-23
29                                               0.40
30                                    500 May-23  500
31                             10/1/23Sep-23  0.20  -

                              Unnamed: 0  Unnamed: 1    Unnamed: 2
0                                    NaN         NaN           NaN
1                                    NaN         NaN           NaN
2                                    NaN         NaN           NaN
3                                    NaN         NaN           NaN
4                                  mmcfd         NaN           NaN
5                                    NaN         NaN           NaN
6                                    NaN         NaN           NaN
7                                    NaN         NaN       10/1/17
8                                    NaN         NaN           NaN
9                                    NaN         NaN        2/1/18
10                                   NaN         NaN        6/1/18
11                                   NaN         NaN       10/1/18
12                                   NaN         NaN        2/1/19
13                                   NaN         NaN        6/1/19
14                                   NaN         NaN       10/1/19
15                     1/1/2021 1/1/2022         NaN           NaN
16                                   NaN         NaN        2/1/20
17  Permian NM IP’s vs. Rig Efficiencies         NaN        6/1/20
18                                   NaN         NaN           NaN
19                                   NaN         NaN           NaN
20                                   NaN         NaN    3.502/1/21
21                                   NaN         NaN           NaN
22                                   NaN         NaN          3.00
23                                   NaN         NaN  10/1/21 2.50
24                                   NaN         NaN        2/1/22
25                                   NaN         NaN    2.006/1/22
26                                   NaN         NaN   1.5100/1/22
27                                   NaN         NaN    1.002/1/23
28                                   NaN         NaN           NaN
29                                   NaN         NaN           NaN
30                                   NaN         NaN    0.506/1/23
31                                   NaN         NaN             -
Table 8:
       Unnamed: 0      Unnamed: 1    Unnamed: 2   Unnamed: 3  Unnamed: 4  \
0       7/29/2022  Dry Production           NaN   JRaing-s22         NaN
1         Rockies     mmcfd Yr/Yr           Gas          Oil         NaN
2      Summer '22     9,889 (400)           NaN  J9un-  2  2        77.0
3             NaN             NaN           NaN          NaN         NaN
4  Winter '22/'23      10,338 527            12          NaN        79.0
5             NaN             NaN        Nov-22          NaN         NaN
6      Summer '23      10,585 697            13          NaN        70.0
7            2022     9,893 (360)  A 8pr-  2  3          NaN        73.0
8            2023      10,552 660            12          NaN        72.0

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  Aug-21
0   Avg IP's       Well        NaN       NWPL     NaN
1       mcfd      Count        NaN      Price  Jan-22
2      1,059      1,633          $       7.79     NaN
3        NaN        NaN        NaN        NaN  Jun-22
4      1,147      1,371          $       8.58     NaN
5        NaN        NaN        NaN        NaN     NaN
6      1,228      1,833          $       4.48  Nov-22
7      1,054      2,786          $       8.30     NaN
8      1,213      3,150          $       5.68  Apr-23
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 10:
                                              Jun-17         Unnamed: 0  \
0                                                NaN                NaN
1                    Rockies Regional AnaNolvy-17sis                NaN
2  Our 2022 production yr/yr chaAnpgr-e18 estimat...          increased
3  mmcfd, as we are now calling foSerp-a18 year-o...           decrease
4  bcfd (vs. a -0.40 bcfd yr/yr decreFaebs-1e9 pr...  We are increasing
5  our 2023 yr/yr outlook by ~80 mJmul-1c9fd, now...                NaN

         Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0               NaN         NaN         NaN     Jan-17
1               NaN         NaN         NaN     Jun-17
2            by ~40         NaN         NaN     Nov-17
3          of -0.36         NaN         NaN     Apr-18
4               NaN         NaN         NaN     Sep-18
5  for a +0.66 bcfd         NaN         NaN     Feb-19
Table 11:
                    Rockies Regional Analysis (cont.) Unnamed: 0 Unnamed: 1  \
0                Biggest Impact / Risks / Assumptions        NaN        NaN
1   In July, our overall Rockies pipe estimates ca...        ~70    800,000
2   mmcfd higher than forecast, with relatively sm...        NaN    700,000
3   in the various sub-basins. As such, our foreca...        NaN    600,000
4   remains largely unchanged with slight growth f...        NaN        NaN
5                                                 NaN        NaN    500,000
6   through the balance of the year and into 2023,...        NaN        NaN
7                                                 NaN        NaN    400,000
8   levels of ~10.0 bcfd average for July to year ...        NaN        NaN
9   bcfd. Slight growth is distributed amongst the...        NaN    300,000
10  basins, as drilling economics remain strong th...         In    200,000
11  the Bakken, recovery from the severe weather i...        and    100,000
12  May causing widespread power outages and produ...        NaN          0
13  ins took longer than HES had originally antici...        NaN        NaN
14  stats for May show grow produced volumes of ~2...        NaN        NaN
15  compared to March levels of ~3.01 bcfd. Our no...        NaN        NaN
16  would suggest ND June production levels are es...        NaN        NaN
17  recovered to March levels. Looking forward, gr...      still        NaN
18  slated for the second half in earnings comment...          a      6,000
19  comparison, HES expects ~50 new wells to be br...        NaN        NaN
20                                                NaN        NaN      5,000
21  in H2 vs. 32 new wells in H1. HES’s guidance a...        NaN        NaN
22  this growth view, with Q3 pegged at 155-160 mb...        NaN      4,000
23  continuing to grow to 160-165 mboepd, with the...        NaN      3,000
24  trajectory continuing to a 200 mboepd planned ...         As        NaN
25                                                NaN        NaN      2,000
26  noted before, new gas plants continue to beJan...        NaN        NaN
27  with OneOk’s Bear Creek plant expansion coJumn...         in      1,000
28  Q4, and their Demicks Lake III plant scheduled...        NaN          -
29  in Q1 ’23, bringing OneOk’s Williston capacity...        NaN        NaN
30                                             Sep-18        NaN        NaN
31  In the DJ basin, we have very slight growth pr...       from        NaN
32                                             Feb-19        NaN        NaN
33  ~2.5 bcfd in July to a projected ~2.6 bcfd Jul...          –        NaN
34  essentially flat based on conservatively const...        NaN        NaN
35                                             Dec-19        NaN        NaN
36  plans by the main DJ operators. Long permittin...        NaN        NaN
37                                                NaN        NaN        NaN
38                                             May-20        NaN      1,800
39  put in place by Colorado have led to long-date...        NaN        NaN
40                                                NaN        NaN      1,600
41  plans which in the current financial environmO...        NaN        NaN
42                                                NaN        NaN      1,400
43  focus on free-cash-flow. As such we have Mmara...        our      1,200
44  relatively steady forecast there. Seasonally, ...        NaN      1,000
45                                                NaN        NaN        NaN

Enter the table number: 4
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Enter the table number:

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [17]:
Mid_Continent = table

In [19]:
Mid_Continent

,Mid Continent,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"8,921","8,828","8,603","8,703","8,765","8,808","8,820","8,835","8,850","8,885","8,962","9,005"
1,Yr/Yr (mmcfd),153,182,(44),8,86,162,213,117,378,502,313,128
2,Gas Rigs,13,13,14,15,16,17,18,19,20,21,20,20
3,Oil Rigs,55,51,52,54,55,56,55,55,54,53,53,53
4,Well Count,158,154,134,118,121,126,131,136,136,138,137,137
5,IP (mcfd/well),"1,654","1,706","2,074","2,434","2,497","2,503","2,509","2,516","2,522","2,528","2,535","2,125"

In [14]:
Rockies

,Rockies,May-22,Jun-22,Jul-22,Aug-22,Sep-22,Oct-22,Nov-22,Dec-22,Jan-23,Feb-23,Mar-23,Apr-23
0,Dry Prod (mmcfd),"9,605","9,854","9,946","10,056","10,136","10,201","10,244","10,292","10,339","10,383","10,431","10,478"
1,Yr/Yr (mmcfd),(774),(357),(168),(159),(272),(99),94,342,769,738,690,"1,056"
2,Gas Rigs,8,8,10,10,10,10,10,11,12,13,14,14
3,Oil Rigs,70,76,82,83,83,83,82,81,80,77,75,73
4,Well Count,201,211,240,243,266,272,272,275,274,274,276,270
5,IP (mcfd/well),"1,008","1,029","1,035","1,107","1,121","1,129","1,122","1,133","1,143","1,154","1,185","1,197"

In [43]:
class TableOutput:
    def __init__(self):
        self.tables = []

    def get_table(self, index):
        return self.tables[index]

    def set_table(self, table):
        self.tables.append(table)


def find_table(values):
    pdf_path = "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")

    table_count = 0
    tables_found = []
    for table in tables:
        for value in values:
            if value in table.to_string():
                table_count += 1
                tables_found.append(table)

    return tables_found


def print_tables(tables):
    for i in range(len(tables)):
        print(f"Table {i + 1}:")
        print(tables[i])


def get_table_number(tables):
    table_numbers=[]
    a = int(input("Enter the table number: "))
    table_numbers.append(a)
    while True:
        for table_number in table_numbers:
            
            if table_number < 1 or table_number > len(tables):
                print("Invalid table number.")
                table_number = int(input("Enter the table number: "))
            else:
                print(f"Table {table_number}:")
                table = tables[table_number - 1]
                print(tables[table_number - 1])
                a = int(input("Enter the table number: "))
                if a == -1:
                    break
                else:
                    table_numbers.append(a)
                    
                #break

    # Set the table in the output variable.
        output.set_table(table)

#if __name__ == "__main__":
output = TableOutput()

pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"]

tables_found = find_table(values)

print_tables(tables_found)

get_table_number(tables_found)

# Store the tables from the output variable in variables.
tables = []
for i in range(len(output.tables)):
    tables.append(output.get_table(i))

# Print the tables.
for i in range(len(tables)):
    print(f"Table {i + 1}:")
    print(tables[i])

Table 1:
        7/29/2022 Dry Production      Unnamed: 0 RJiagns-22  Unnamed: 1  \
0   Mid Continent    mmcfd Yr/Yr             Gas        Oil         NaN
1             NaN            NaN             NaN     Jun-22         NaN
2      Summer '22       8,786 91              14        NaN        55.0
3             NaN            NaN             NaN        NaN         NaN
4  Winter '22/'23      8,871 305  20No v  - 2  2        NaN        54.0
5      Summer '23      9,058 271              19        NaN        55.0
6            2022      8,722 139  14Ap r  - 2  3        NaN        57.0
7             NaN            NaN             NaN        NaN         NaN
8            2023      9,033 311              19        NaN        55.0

  Avg IP's   Well Unnamed: 2   PEPL Unnamed: 3
0     mcfd  Count        NaN  Price     Jan-22
1      NaN    NaN        NaN    NaN        NaN
2    2,066    973          $   7.66        NaN
3      NaN    NaN        NaN    NaN     Jun-22
4    2,522    678          $   8.14        NaN
5    2,136    971          $   4.34     Nov-22
6    2,019  1,697          $   7.94        NaN
7      NaN    NaN        NaN    NaN     Apr-23
8    2,236  1,661          $   5.40        NaN
Table 2:
      Mid Continent May-22 Jun-22 Jul-22 Aug-22 Sep-22 Oct-22 Nov-22 Dec-22  \
0  Dry Prod (mmcfd)  8,921  8,828  8,603  8,703  8,765  8,808  8,820  8,835
1     Yr/Yr (mmcfd)    153    182   (44)      8     86    162    213    117
2          Gas Rigs     13     13     14     15     16     17     18     19
3          Oil Rigs     55     51     52     54     55     56     55     55
4        Well Count    158    154    134    118    121    126    131    136
5    IP (mcfd/well)  1,654  1,706  2,074  2,434  2,497  2,503  2,509  2,516

  Jan-23 Feb-23 Mar-23 Apr-23
0  8,850  8,885  8,962  9,005
1    378    502    313    128
2     20     21     20     20
3     54     53     53     53
4    136    138    137    137
5  2,522  2,528  2,535  2,125
Table 3:
      7/29/2022 Dry Production Unnamed: 0  RJaigns-22 Avg IP's   Well  \
0          Permian mmcfd Yr/Yr        Gas       Jun-22Oil mcfd  Count
1      Summer '22 16,048 1,465         16            309 1,925  2,596
2  Winter '22/'23 16,624 1,116  1N9ov - 2           2319 1,956  1,905
3  Nov-22Summer '23 17,033 985         16  3.16Apr-23303 1,970  2,506
4            2022 15,993 1,810         17            305 1,920  4,443
5              2023 16,986 992  1S6ep - 2           3305 1,967  4,310

  Unnamed: 1 EP Per  Unnamed: 2 Unnamed: 3
0        NaN  Price         NaN     Jan-22
1          $   7.25         NaN     Jun-22
2          $   7.03         NaN        NaN
3          $    NaN         NaN        NaN
4          $   7.33         NaN     Apr-23
5          $   4.26         NaN        NaN
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Table 5:
        7/29/2022 Dry Production Unnamed: 0  Rigs Unnamed: 1  Unnamed: 2  \
0  TX District 7C    mmcfd Yr/Yr        Gas   NaN        Oil         NaN
1      Summer '22       1,898 26          -   NaN        NaN        28.0
2  Winter '22/'23      1,900 (4)          -   NaN        NaN        29.0
3      Summer '23      1,889 (9)          -   NaN        NaN        28.0
4            2022       1,900 72          -   NaN        NaN        28.0
5            2023     1,890 (10)          -   NaN        NaN        28.0

  Avg IP's   Well Unnamed: 3 EP Per     7/29/2022.1 Dry Production.1  \
0     mcfd  Count        NaN  Price      NM Permian      mmcfd Yr/Yr
1      878    336          $   7.25      Summer '22        5,033 605
2      894    234          $   7.03  Winter '22/'23        5,352 684
3      911    302          $   3.16      Summer '23        5,560 527
4      877    571          $   7.33            2022        4,990 711
5      909    519          $   4.26            2023        5,532 542

  Unnamed: 4  Rigs.1 Unnamed: 5  Unnamed: 6 Avg IP's.1 Well.1 Unnamed: 7  \
0        Gas     NaN        Oil         NaN       mcfd  Count        NaN
1         16     NaN        NaN        79.0      2,744    822          $
2         19     NaN        NaN        81.0      2,750    608          $
3         16     NaN        NaN        77.0      2,750    798          $
4         17     NaN        NaN        78.0      2,737  1,389          $
5         16     NaN        NaN        77.0      2,750  1,362          $

  EP Per.1
0    Price
1     7.25
2     7.03
3     3.16
4     7.33
5     4.26
Table 6:
                                           Unnamed: 0  \
0                           Permian rigs increased by
1                                                 NaN
2                           increasing by 5 rigs over
3                          326 rigs. Public companies
4                                                 NaN
5                       while private companies added
6                                                 NaN
7   make up 51% of the drilling in the Permian (16...
8                                                 NaN
9                               more and more Permian
10                                                NaN
11                        pipelines, keeping track of
12                  $2.00has gotten more challenging.

                                  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                                         12        NaN       rigs      since
1                                        NaN        NaN        NaN        NaN
2                                        the   previous        NaN        NaN
3                                        NaN      added        NaN          8
4                                        NaN        NaN        NaN        NaN
5                                        NaN        NaN    4 rigs;        NaN
6                                        NaN        NaN        NaN        NaN
7                                        NaN        NaN        NaN        NaN
8                                        NaN        NaN        NaN        NaN
9                                 production        NaN        NaN        has
10                                       NaN        NaN        NaN        NaN
11  just Permian production on a daily basis        NaN        NaN        NaN
12                                       NaN       With        NaN       this

                 Unnamed: 5   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                  our last    forecast,         NaN       after         NaN
1                    Apr-18          NaN         NaN         NaN         NaN
2        6 weeks, currently          NaN         NaN  sitting at         NaN
3       rigs siSnecpe-18the         last         NaN    forecast         NaN
4                       NaN          NaN         NaN         NaN         NaN
5   privateFecbo-1m9 panies          NaN         NaN   currently         NaN
6                       NaN          NaN         NaN         NaN         NaN
7                       NaN          NaN         NaN          As         NaN
8                       NaN          NaN         NaN         NaN         NaN
9                grown into          the  intrastate         NaN         NaN
10                   Dec-19          NaN         NaN         NaN         NaN
11                      NaN          NaN         NaN         NaN         NaN
12     May-20 update, we’ve  reallocated         NaN         NaN         NaN

    Unnamed: 10 Unnamed: 11                   Unnamed: 12  \
0           NaN         NaN                           NaN
1           NaN         NaN               Whistler - Full
2           NaN      19,000            Whistler - Partial
3           NaN         NaN        Permian Highway - Full
4           NaN      17,000             Samalayuca-Sasabe
5           NaN         NaN                           NaN
6           NaN         NaN     Permian Highway - Partial
7           NaN      15,000                           NaN
8           NaN         NaN     Gulf Coast Express - Full
9           NaN         NaN                           NaN
10          NaN      13,000  Gulf Coast Express - Partial
11          NaN         NaN                           NaN
12          NaN      11,000                           NaN

                GCX Expansion
0                       $9.00
1   Permian Highway Expansion
2     $8.00Whistler Expansion
3                       $7.00
4                         NaN
5                       $6.00
6                         NaN
7                       $5.00
8                         NaN
9                       $4.00
10                        NaN
11                      $3.00
12                        NaN
Table 7:
                                               Sep-23  \
0   After a busy May, June and July proved relativ...
1   infrastructure announcements. In its July 20th...
2                                               1,200
3   PHP Expansion project for +0.55 bcfd targeting...
4   However, the +0.57 bcfd GCX Expansion was not ...
5   KMI noted that it was in discussion with shipp...
6   capacity” to serve LNG facilities. This may de...
7                                                 NaN
8   expansion’s incremental capacity, but the +Ja0...
9   Expansion along the same route will relieve so...
10  Our dry production forecast continues to crest...
11  Constraints line, which is a simple repreJsaen...
12  infrastructure since 2017 capped to 90% nMaamy...
13  however, we have previously seen dry gas prodS...
14  2 bcfd over these expectations via local demaJ...
15  displacement along all outbound pipelines. May...
16                                                NaN
17   Sep-19Texas District 8 IP’s vs. Rig Efficiencies
18                                             Jan-20
19               3,000  4.0100/1/20May-20 2.00  4,000
20                                Sep-20  1.80  3,500
21                                              2,500
22                          Jan-21  1.60 6/1/21 3,000
23                           2,000 May-21 1.40  2,500
24                                       Sep-21  1.20
25                          1,500 Jan-22  1.00  2,000
26                                May-22  0.80  1,500
27                          1,000 Sep-22  0.60  1,000
28                                             Jan-23
29                                               0.40
30                                    500 May-23  500
31                             10/1/23Sep-23  0.20  -

                              Unnamed: 0  Unnamed: 1    Unnamed: 2
0                                    NaN         NaN           NaN
1                                    NaN         NaN           NaN
2                                    NaN         NaN           NaN
3                                    NaN         NaN           NaN
4                                  mmcfd         NaN           NaN
5                                    NaN         NaN           NaN
6                                    NaN         NaN           NaN
7                                    NaN         NaN       10/1/17
8                                    NaN         NaN           NaN
9                                    NaN         NaN        2/1/18
10                                   NaN         NaN        6/1/18
11                                   NaN         NaN       10/1/18
12                                   NaN         NaN        2/1/19
13                                   NaN         NaN        6/1/19
14                                   NaN         NaN       10/1/19
15                     1/1/2021 1/1/2022         NaN           NaN
16                                   NaN         NaN        2/1/20
17  Permian NM IP’s vs. Rig Efficiencies         NaN        6/1/20
18                                   NaN         NaN           NaN
19                                   NaN         NaN           NaN
20                                   NaN         NaN    3.502/1/21
21                                   NaN         NaN           NaN
22                                   NaN         NaN          3.00
23                                   NaN         NaN  10/1/21 2.50
24                                   NaN         NaN        2/1/22
25                                   NaN         NaN    2.006/1/22
26                                   NaN         NaN   1.5100/1/22
27                                   NaN         NaN    1.002/1/23
28                                   NaN         NaN           NaN
29                                   NaN         NaN           NaN
30                                   NaN         NaN    0.506/1/23
31                                   NaN         NaN             -
Table 8:
       Unnamed: 0      Unnamed: 1    Unnamed: 2   Unnamed: 3  Unnamed: 4  \
0       7/29/2022  Dry Production           NaN   JRaing-s22         NaN
1         Rockies     mmcfd Yr/Yr           Gas          Oil         NaN
2      Summer '22     9,889 (400)           NaN  J9un-  2  2        77.0
3             NaN             NaN           NaN          NaN         NaN
4  Winter '22/'23      10,338 527            12          NaN        79.0
5             NaN             NaN        Nov-22          NaN         NaN
6      Summer '23      10,585 697            13          NaN        70.0
7            2022     9,893 (360)  A 8pr-  2  3          NaN        73.0
8            2023      10,552 660            12          NaN        72.0

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  Aug-21
0   Avg IP's       Well        NaN       NWPL     NaN
1       mcfd      Count        NaN      Price  Jan-22
2      1,059      1,633          $       7.79     NaN
3        NaN        NaN        NaN        NaN  Jun-22
4      1,147      1,371          $       8.58     NaN
5        NaN        NaN        NaN        NaN     NaN
6      1,228      1,833          $       4.48  Nov-22
7      1,054      2,786          $       8.30     NaN
8      1,213      3,150          $       5.68  Apr-23
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 10:
                                              Jun-17         Unnamed: 0  \
0                                                NaN                NaN
1                    Rockies Regional AnaNolvy-17sis                NaN
2  Our 2022 production yr/yr chaAnpgr-e18 estimat...          increased
3  mmcfd, as we are now calling foSerp-a18 year-o...           decrease
4  bcfd (vs. a -0.40 bcfd yr/yr decreFaebs-1e9 pr...  We are increasing
5  our 2023 yr/yr outlook by ~80 mJmul-1c9fd, now...                NaN

         Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0               NaN         NaN         NaN     Jan-17
1               NaN         NaN         NaN     Jun-17
2            by ~40         NaN         NaN     Nov-17
3          of -0.36         NaN         NaN     Apr-18
4               NaN         NaN         NaN     Sep-18
5  for a +0.66 bcfd         NaN         NaN     Feb-19
Table 11:
                    Rockies Regional Analysis (cont.) Unnamed: 0 Unnamed: 1  \
0                Biggest Impact / Risks / Assumptions        NaN        NaN
1   In July, our overall Rockies pipe estimates ca...        ~70    800,000
2   mmcfd higher than forecast, with relatively sm...        NaN    700,000
3   in the various sub-basins. As such, our foreca...        NaN    600,000
4   remains largely unchanged with slight growth f...        NaN        NaN
5                                                 NaN        NaN    500,000
6   through the balance of the year and into 2023,...        NaN        NaN
7                                                 NaN        NaN    400,000
8   levels of ~10.0 bcfd average for July to year ...        NaN        NaN
9   bcfd. Slight growth is distributed amongst the...        NaN    300,000
10  basins, as drilling economics remain strong th...         In    200,000
11  the Bakken, recovery from the severe weather i...        and    100,000
12  May causing widespread power outages and produ...        NaN          0
13  ins took longer than HES had originally antici...        NaN        NaN
14  stats for May show grow produced volumes of ~2...        NaN        NaN
15  compared to March levels of ~3.01 bcfd. Our no...        NaN        NaN
16  would suggest ND June production levels are es...        NaN        NaN
17  recovered to March levels. Looking forward, gr...      still        NaN
18  slated for the second half in earnings comment...          a      6,000
19  comparison, HES expects ~50 new wells to be br...        NaN        NaN
20                                                NaN        NaN      5,000
21  in H2 vs. 32 new wells in H1. HES’s guidance a...        NaN        NaN
22  this growth view, with Q3 pegged at 155-160 mb...        NaN      4,000
23  continuing to grow to 160-165 mboepd, with the...        NaN      3,000
24  trajectory continuing to a 200 mboepd planned ...         As        NaN
25                                                NaN        NaN      2,000
26  noted before, new gas plants continue to beJan...        NaN        NaN
27  with OneOk’s Bear Creek plant expansion coJumn...         in      1,000
28  Q4, and their Demicks Lake III plant scheduled...        NaN          -
29  in Q1 ’23, bringing OneOk’s Williston capacity...        NaN        NaN
30                                             Sep-18        NaN        NaN
31  In the DJ basin, we have very slight growth pr...       from        NaN
32                                             Feb-19        NaN        NaN
33  ~2.5 bcfd in July to a projected ~2.6 bcfd Jul...          –        NaN
34  essentially flat based on conservatively const...        NaN        NaN
35                                             Dec-19        NaN        NaN
36  plans by the main DJ operators. Long permittin...        NaN        NaN
37                                                NaN        NaN        NaN
38                                             May-20        NaN      1,800
39  put in place by Colorado have led to long-date...        NaN        NaN
40                                                NaN        NaN      1,600
41  plans which in the current financial environmO...        NaN        NaN
42                                                NaN        NaN      1,400
43  focus on free-cash-flow. As such we have Mmara...        our      1,200
44  relatively steady forecast there. Seasonally, ...        NaN      1,000
45                                                NaN        NaN        NaN

Enter the table number: 4
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Enter the table number: -1
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968

KeyboardInterrupt: Interrupted by user

In [ ]:
Permian = output

In [ ]:
Rockies

In [47]:
#import tabula

class TableOutput:
    def __init__(self):
        self.tables = []

    def get_tables(self):
        return self.tables

    def set_table(self, table):
        self.tables.append(table)


def find_table(values):
    pdf_path = "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")

    table_count = 0
    tables_found = []
    for table in tables:
        for value in values:
            if value in table.to_string():
                table_count += 1
                tables_found.append(table)

    return tables_found


def print_tables(tables):
    for i in range(len(tables)):
        print(f"Table {i + 1}:")
        print(tables[i])


def get_table_number(tables, output):
    table_numbers = []
    a = int(input("Enter the table number (-1 to quit): "))
    while a != -1:
        table_numbers.append(a)
        a = int(input("Enter the table number (-1 to quit): "))

    for table_number in table_numbers:
        if table_number < 1 or table_number > len(tables):
            print("Invalid table number.")
        else:
            print(f"Table {table_number}:")
            table = tables[table_number - 1]
            print(tables[table_number - 1])
            output.set_table(table)


#if __name__ == "__main__":
output = TableOutput()

pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian", "Rockies"]

tables_found = find_table(values)

print_tables(tables_found)

get_table_number(tables_found, output)

tables = output.get_tables()

for i in range(len(tables)):
    print(f"Table {i + 1}:")
    print(tables[i])

Table 1:
        7/29/2022 Dry Production      Unnamed: 0 RJiagns-22  Unnamed: 1  \
0   Mid Continent    mmcfd Yr/Yr             Gas        Oil         NaN
1             NaN            NaN             NaN     Jun-22         NaN
2      Summer '22       8,786 91              14        NaN        55.0
3             NaN            NaN             NaN        NaN         NaN
4  Winter '22/'23      8,871 305  20No v  - 2  2        NaN        54.0
5      Summer '23      9,058 271              19        NaN        55.0
6            2022      8,722 139  14Ap r  - 2  3        NaN        57.0
7             NaN            NaN             NaN        NaN         NaN
8            2023      9,033 311              19        NaN        55.0

  Avg IP's   Well Unnamed: 2   PEPL Unnamed: 3
0     mcfd  Count        NaN  Price     Jan-22
1      NaN    NaN        NaN    NaN        NaN
2    2,066    973          $   7.66        NaN
3      NaN    NaN        NaN    NaN     Jun-22
4    2,522    678          $   8.14        NaN
5    2,136    971          $   4.34     Nov-22
6    2,019  1,697          $   7.94        NaN
7      NaN    NaN        NaN    NaN     Apr-23
8    2,236  1,661          $   5.40        NaN
Table 2:
      Mid Continent May-22 Jun-22 Jul-22 Aug-22 Sep-22 Oct-22 Nov-22 Dec-22  \
0  Dry Prod (mmcfd)  8,921  8,828  8,603  8,703  8,765  8,808  8,820  8,835
1     Yr/Yr (mmcfd)    153    182   (44)      8     86    162    213    117
2          Gas Rigs     13     13     14     15     16     17     18     19
3          Oil Rigs     55     51     52     54     55     56     55     55
4        Well Count    158    154    134    118    121    126    131    136
5    IP (mcfd/well)  1,654  1,706  2,074  2,434  2,497  2,503  2,509  2,516

  Jan-23 Feb-23 Mar-23 Apr-23
0  8,850  8,885  8,962  9,005
1    378    502    313    128
2     20     21     20     20
3     54     53     53     53
4    136    138    137    137
5  2,522  2,528  2,535  2,125
Table 3:
      7/29/2022 Dry Production Unnamed: 0  RJaigns-22 Avg IP's   Well  \
0          Permian mmcfd Yr/Yr        Gas       Jun-22Oil mcfd  Count
1      Summer '22 16,048 1,465         16            309 1,925  2,596
2  Winter '22/'23 16,624 1,116  1N9ov - 2           2319 1,956  1,905
3  Nov-22Summer '23 17,033 985         16  3.16Apr-23303 1,970  2,506
4            2022 15,993 1,810         17            305 1,920  4,443
5              2023 16,986 992  1S6ep - 2           3305 1,967  4,310

  Unnamed: 1 EP Per  Unnamed: 2 Unnamed: 3
0        NaN  Price         NaN     Jan-22
1          $   7.25         NaN     Jun-22
2          $   7.03         NaN        NaN
3          $    NaN         NaN        NaN
4          $   7.33         NaN     Apr-23
5          $   4.26         NaN        NaN
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Table 5:
        7/29/2022 Dry Production Unnamed: 0  Rigs Unnamed: 1  Unnamed: 2  \
0  TX District 7C    mmcfd Yr/Yr        Gas   NaN        Oil         NaN
1      Summer '22       1,898 26          -   NaN        NaN        28.0
2  Winter '22/'23      1,900 (4)          -   NaN        NaN        29.0
3      Summer '23      1,889 (9)          -   NaN        NaN        28.0
4            2022       1,900 72          -   NaN        NaN        28.0
5            2023     1,890 (10)          -   NaN        NaN        28.0

  Avg IP's   Well Unnamed: 3 EP Per     7/29/2022.1 Dry Production.1  \
0     mcfd  Count        NaN  Price      NM Permian      mmcfd Yr/Yr
1      878    336          $   7.25      Summer '22        5,033 605
2      894    234          $   7.03  Winter '22/'23        5,352 684
3      911    302          $   3.16      Summer '23        5,560 527
4      877    571          $   7.33            2022        4,990 711
5      909    519          $   4.26            2023        5,532 542

  Unnamed: 4  Rigs.1 Unnamed: 5  Unnamed: 6 Avg IP's.1 Well.1 Unnamed: 7  \
0        Gas     NaN        Oil         NaN       mcfd  Count        NaN
1         16     NaN        NaN        79.0      2,744    822          $
2         19     NaN        NaN        81.0      2,750    608          $
3         16     NaN        NaN        77.0      2,750    798          $
4         17     NaN        NaN        78.0      2,737  1,389          $
5         16     NaN        NaN        77.0      2,750  1,362          $

  EP Per.1
0    Price
1     7.25
2     7.03
3     3.16
4     7.33
5     4.26
Table 6:
                                           Unnamed: 0  \
0                           Permian rigs increased by
1                                                 NaN
2                           increasing by 5 rigs over
3                          326 rigs. Public companies
4                                                 NaN
5                       while private companies added
6                                                 NaN
7   make up 51% of the drilling in the Permian (16...
8                                                 NaN
9                               more and more Permian
10                                                NaN
11                        pipelines, keeping track of
12                  $2.00has gotten more challenging.

                                  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                                         12        NaN       rigs      since
1                                        NaN        NaN        NaN        NaN
2                                        the   previous        NaN        NaN
3                                        NaN      added        NaN          8
4                                        NaN        NaN        NaN        NaN
5                                        NaN        NaN    4 rigs;        NaN
6                                        NaN        NaN        NaN        NaN
7                                        NaN        NaN        NaN        NaN
8                                        NaN        NaN        NaN        NaN
9                                 production        NaN        NaN        has
10                                       NaN        NaN        NaN        NaN
11  just Permian production on a daily basis        NaN        NaN        NaN
12                                       NaN       With        NaN       this

                 Unnamed: 5   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                  our last    forecast,         NaN       after         NaN
1                    Apr-18          NaN         NaN         NaN         NaN
2        6 weeks, currently          NaN         NaN  sitting at         NaN
3       rigs siSnecpe-18the         last         NaN    forecast         NaN
4                       NaN          NaN         NaN         NaN         NaN
5   privateFecbo-1m9 panies          NaN         NaN   currently         NaN
6                       NaN          NaN         NaN         NaN         NaN
7                       NaN          NaN         NaN          As         NaN
8                       NaN          NaN         NaN         NaN         NaN
9                grown into          the  intrastate         NaN         NaN
10                   Dec-19          NaN         NaN         NaN         NaN
11                      NaN          NaN         NaN         NaN         NaN
12     May-20 update, we’ve  reallocated         NaN         NaN         NaN

    Unnamed: 10 Unnamed: 11                   Unnamed: 12  \
0           NaN         NaN                           NaN
1           NaN         NaN               Whistler - Full
2           NaN      19,000            Whistler - Partial
3           NaN         NaN        Permian Highway - Full
4           NaN      17,000             Samalayuca-Sasabe
5           NaN         NaN                           NaN
6           NaN         NaN     Permian Highway - Partial
7           NaN      15,000                           NaN
8           NaN         NaN     Gulf Coast Express - Full
9           NaN         NaN                           NaN
10          NaN      13,000  Gulf Coast Express - Partial
11          NaN         NaN                           NaN
12          NaN      11,000                           NaN

                GCX Expansion
0                       $9.00
1   Permian Highway Expansion
2     $8.00Whistler Expansion
3                       $7.00
4                         NaN
5                       $6.00
6                         NaN
7                       $5.00
8                         NaN
9                       $4.00
10                        NaN
11                      $3.00
12                        NaN
Table 7:
                                               Sep-23  \
0   After a busy May, June and July proved relativ...
1   infrastructure announcements. In its July 20th...
2                                               1,200
3   PHP Expansion project for +0.55 bcfd targeting...
4   However, the +0.57 bcfd GCX Expansion was not ...
5   KMI noted that it was in discussion with shipp...
6   capacity” to serve LNG facilities. This may de...
7                                                 NaN
8   expansion’s incremental capacity, but the +Ja0...
9   Expansion along the same route will relieve so...
10  Our dry production forecast continues to crest...
11  Constraints line, which is a simple repreJsaen...
12  infrastructure since 2017 capped to 90% nMaamy...
13  however, we have previously seen dry gas prodS...
14  2 bcfd over these expectations via local demaJ...
15  displacement along all outbound pipelines. May...
16                                                NaN
17   Sep-19Texas District 8 IP’s vs. Rig Efficiencies
18                                             Jan-20
19               3,000  4.0100/1/20May-20 2.00  4,000
20                                Sep-20  1.80  3,500
21                                              2,500
22                          Jan-21  1.60 6/1/21 3,000
23                           2,000 May-21 1.40  2,500
24                                       Sep-21  1.20
25                          1,500 Jan-22  1.00  2,000
26                                May-22  0.80  1,500
27                          1,000 Sep-22  0.60  1,000
28                                             Jan-23
29                                               0.40
30                                    500 May-23  500
31                             10/1/23Sep-23  0.20  -

                              Unnamed: 0  Unnamed: 1    Unnamed: 2
0                                    NaN         NaN           NaN
1                                    NaN         NaN           NaN
2                                    NaN         NaN           NaN
3                                    NaN         NaN           NaN
4                                  mmcfd         NaN           NaN
5                                    NaN         NaN           NaN
6                                    NaN         NaN           NaN
7                                    NaN         NaN       10/1/17
8                                    NaN         NaN           NaN
9                                    NaN         NaN        2/1/18
10                                   NaN         NaN        6/1/18
11                                   NaN         NaN       10/1/18
12                                   NaN         NaN        2/1/19
13                                   NaN         NaN        6/1/19
14                                   NaN         NaN       10/1/19
15                     1/1/2021 1/1/2022         NaN           NaN
16                                   NaN         NaN        2/1/20
17  Permian NM IP’s vs. Rig Efficiencies         NaN        6/1/20
18                                   NaN         NaN           NaN
19                                   NaN         NaN           NaN
20                                   NaN         NaN    3.502/1/21
21                                   NaN         NaN           NaN
22                                   NaN         NaN          3.00
23                                   NaN         NaN  10/1/21 2.50
24                                   NaN         NaN        2/1/22
25                                   NaN         NaN    2.006/1/22
26                                   NaN         NaN   1.5100/1/22
27                                   NaN         NaN    1.002/1/23
28                                   NaN         NaN           NaN
29                                   NaN         NaN           NaN
30                                   NaN         NaN    0.506/1/23
31                                   NaN         NaN             -
Table 8:
       Unnamed: 0      Unnamed: 1    Unnamed: 2   Unnamed: 3  Unnamed: 4  \
0       7/29/2022  Dry Production           NaN   JRaing-s22         NaN
1         Rockies     mmcfd Yr/Yr           Gas          Oil         NaN
2      Summer '22     9,889 (400)           NaN  J9un-  2  2        77.0
3             NaN             NaN           NaN          NaN         NaN
4  Winter '22/'23      10,338 527            12          NaN        79.0
5             NaN             NaN        Nov-22          NaN         NaN
6      Summer '23      10,585 697            13          NaN        70.0
7            2022     9,893 (360)  A 8pr-  2  3          NaN        73.0
8            2023      10,552 660            12          NaN        72.0

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  Aug-21
0   Avg IP's       Well        NaN       NWPL     NaN
1       mcfd      Count        NaN      Price  Jan-22
2      1,059      1,633          $       7.79     NaN
3        NaN        NaN        NaN        NaN  Jun-22
4      1,147      1,371          $       8.58     NaN
5        NaN        NaN        NaN        NaN     NaN
6      1,228      1,833          $       4.48  Nov-22
7      1,054      2,786          $       8.30     NaN
8      1,213      3,150          $       5.68  Apr-23
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 10:
                                              Jun-17         Unnamed: 0  \
0                                                NaN                NaN
1                    Rockies Regional AnaNolvy-17sis                NaN
2  Our 2022 production yr/yr chaAnpgr-e18 estimat...          increased
3  mmcfd, as we are now calling foSerp-a18 year-o...           decrease
4  bcfd (vs. a -0.40 bcfd yr/yr decreFaebs-1e9 pr...  We are increasing
5  our 2023 yr/yr outlook by ~80 mJmul-1c9fd, now...                NaN

         Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0               NaN         NaN         NaN     Jan-17
1               NaN         NaN         NaN     Jun-17
2            by ~40         NaN         NaN     Nov-17
3          of -0.36         NaN         NaN     Apr-18
4               NaN         NaN         NaN     Sep-18
5  for a +0.66 bcfd         NaN         NaN     Feb-19
Table 11:
                    Rockies Regional Analysis (cont.) Unnamed: 0 Unnamed: 1  \
0                Biggest Impact / Risks / Assumptions        NaN        NaN
1   In July, our overall Rockies pipe estimates ca...        ~70    800,000
2   mmcfd higher than forecast, with relatively sm...        NaN    700,000
3   in the various sub-basins. As such, our foreca...        NaN    600,000
4   remains largely unchanged with slight growth f...        NaN        NaN
5                                                 NaN        NaN    500,000
6   through the balance of the year and into 2023,...        NaN        NaN
7                                                 NaN        NaN    400,000
8   levels of ~10.0 bcfd average for July to year ...        NaN        NaN
9   bcfd. Slight growth is distributed amongst the...        NaN    300,000
10  basins, as drilling economics remain strong th...         In    200,000
11  the Bakken, recovery from the severe weather i...        and    100,000
12  May causing widespread power outages and produ...        NaN          0
13  ins took longer than HES had originally antici...        NaN        NaN
14  stats for May show grow produced volumes of ~2...        NaN        NaN
15  compared to March levels of ~3.01 bcfd. Our no...        NaN        NaN
16  would suggest ND June production levels are es...        NaN        NaN
17  recovered to March levels. Looking forward, gr...      still        NaN
18  slated for the second half in earnings comment...          a      6,000
19  comparison, HES expects ~50 new wells to be br...        NaN        NaN
20                                                NaN        NaN      5,000
21  in H2 vs. 32 new wells in H1. HES’s guidance a...        NaN        NaN
22  this growth view, with Q3 pegged at 155-160 mb...        NaN      4,000
23  continuing to grow to 160-165 mboepd, with the...        NaN      3,000
24  trajectory continuing to a 200 mboepd planned ...         As        NaN
25                                                NaN        NaN      2,000
26  noted before, new gas plants continue to beJan...        NaN        NaN
27  with OneOk’s Bear Creek plant expansion coJumn...         in      1,000
28  Q4, and their Demicks Lake III plant scheduled...        NaN          -
29  in Q1 ’23, bringing OneOk’s Williston capacity...        NaN        NaN
30                                             Sep-18        NaN        NaN
31  In the DJ basin, we have very slight growth pr...       from        NaN
32                                             Feb-19        NaN        NaN
33  ~2.5 bcfd in July to a projected ~2.6 bcfd Jul...          –        NaN
34  essentially flat based on conservatively const...        NaN        NaN
35                                             Dec-19        NaN        NaN
36  plans by the main DJ operators. Long permittin...        NaN        NaN
37                                                NaN        NaN        NaN
38                                             May-20        NaN      1,800
39  put in place by Colorado have led to long-date...        NaN        NaN
40                                                NaN        NaN      1,600
41  plans which in the current financial environmO...        NaN        NaN
42                                                NaN        NaN      1,400
43  focus on free-cash-flow. As such we have Mmara...        our      1,200
44  relatively steady forecast there. Seasonally, ...        NaN      1,000
45                                                NaN        NaN        NaN

Enter the table number (-1 to quit): 9
Enter the table number (-1 to quit): 9
Enter the table number (-1 to quit): -1
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 1:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 2:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197

In [51]:
Table9

NameError: name 'Table9' is not defined

In [55]:
#import tabula

def find_tables_containing_values(values):
    #takes a list of values as input and returns a list of tables that contain those values.
    pdf_path = "forecast.pdf"
    tables = read_pdf(pdf_path, pages="all")
    found_tables = []
    for table in tables:# iterates over the list of tables
        for value in values:# iterates over the list of values.
            if value in table.to_string():#This line checks if the current value is present in the table's string representation.
                found_tables.append(table)
                break

    return found_tables#returns the list of tables that contain the specified values.

def print_tables(found_tables):#takes a list of tables as input and prints them to the console.
    if found_tables:#checks if the found_tables list is empty.
        print("Tables containing the specified values:")#If the found_tables list is not empty, the following message is printed to the console:
        for i, table in enumerate(found_tables):#This line starts a for loop that iterates over the list of tables and prints each table to the console.
            print(f"Table {i + 1}:")#This line prints the table number to the console.
            print(table)
            
            # Get the user's choice of table
        table_numbers = input("Enter the number of the tables you want to print: ").split(",")

        # Convert the table numbers to integers
        table_numbers = [int(table_number) for table_number in table_numbers]
        # Print the selected table as a DataFrame
        for table_number in table_numbers:
            print(f"Table {table_number}:")
            print(found_tables[table_number -1])

    else:
        print("No tables found containing the given values.")


    

pdf_path = "forecast.pdf"
values = ["Mid Continent", "Permian","Rockies"]

found_tables = find_tables_containing_values(values)

print_tables(found_tables)

Tables containing the specified values:
Table 1:
        7/29/2022 Dry Production      Unnamed: 0 RJiagns-22  Unnamed: 1  \
0   Mid Continent    mmcfd Yr/Yr             Gas        Oil         NaN
1             NaN            NaN             NaN     Jun-22         NaN
2      Summer '22       8,786 91              14        NaN        55.0
3             NaN            NaN             NaN        NaN         NaN
4  Winter '22/'23      8,871 305  20No v  - 2  2        NaN        54.0
5      Summer '23      9,058 271              19        NaN        55.0
6            2022      8,722 139  14Ap r  - 2  3        NaN        57.0
7             NaN            NaN             NaN        NaN         NaN
8            2023      9,033 311              19        NaN        55.0

  Avg IP's   Well Unnamed: 2   PEPL Unnamed: 3
0     mcfd  Count        NaN  Price     Jan-22
1      NaN    NaN        NaN    NaN        NaN
2    2,066    973          $   7.66        NaN
3      NaN    NaN        NaN    NaN     Jun-22
4    2,522    678          $   8.14        NaN
5    2,136    971          $   4.34     Nov-22
6    2,019  1,697          $   7.94        NaN
7      NaN    NaN        NaN    NaN     Apr-23
8    2,236  1,661          $   5.40        NaN
Table 2:
      Mid Continent May-22 Jun-22 Jul-22 Aug-22 Sep-22 Oct-22 Nov-22 Dec-22  \
0  Dry Prod (mmcfd)  8,921  8,828  8,603  8,703  8,765  8,808  8,820  8,835
1     Yr/Yr (mmcfd)    153    182   (44)      8     86    162    213    117
2          Gas Rigs     13     13     14     15     16     17     18     19
3          Oil Rigs     55     51     52     54     55     56     55     55
4        Well Count    158    154    134    118    121    126    131    136
5    IP (mcfd/well)  1,654  1,706  2,074  2,434  2,497  2,503  2,509  2,516

  Jan-23 Feb-23 Mar-23 Apr-23
0  8,850  8,885  8,962  9,005
1    378    502    313    128
2     20     21     20     20
3     54     53     53     53
4    136    138    137    137
5  2,522  2,528  2,535  2,125
Table 3:
      7/29/2022 Dry Production Unnamed: 0  RJaigns-22 Avg IP's   Well  \
0          Permian mmcfd Yr/Yr        Gas       Jun-22Oil mcfd  Count
1      Summer '22 16,048 1,465         16            309 1,925  2,596
2  Winter '22/'23 16,624 1,116  1N9ov - 2           2319 1,956  1,905
3  Nov-22Summer '23 17,033 985         16  3.16Apr-23303 1,970  2,506
4            2022 15,993 1,810         17            305 1,920  4,443
5              2023 16,986 992  1S6ep - 2           3305 1,967  4,310

  Unnamed: 1 EP Per  Unnamed: 2 Unnamed: 3
0        NaN  Price         NaN     Jan-22
1          $   7.25         NaN     Jun-22
2          $   7.03         NaN        NaN
3          $    NaN         NaN        NaN
4          $   7.33         NaN     Apr-23
5          $   4.26         NaN        NaN
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Table 5:
        7/29/2022 Dry Production Unnamed: 0  Rigs Unnamed: 1  Unnamed: 2  \
0  TX District 7C    mmcfd Yr/Yr        Gas   NaN        Oil         NaN
1      Summer '22       1,898 26          -   NaN        NaN        28.0
2  Winter '22/'23      1,900 (4)          -   NaN        NaN        29.0
3      Summer '23      1,889 (9)          -   NaN        NaN        28.0
4            2022       1,900 72          -   NaN        NaN        28.0
5            2023     1,890 (10)          -   NaN        NaN        28.0

  Avg IP's   Well Unnamed: 3 EP Per     7/29/2022.1 Dry Production.1  \
0     mcfd  Count        NaN  Price      NM Permian      mmcfd Yr/Yr
1      878    336          $   7.25      Summer '22        5,033 605
2      894    234          $   7.03  Winter '22/'23        5,352 684
3      911    302          $   3.16      Summer '23        5,560 527
4      877    571          $   7.33            2022        4,990 711
5      909    519          $   4.26            2023        5,532 542

  Unnamed: 4  Rigs.1 Unnamed: 5  Unnamed: 6 Avg IP's.1 Well.1 Unnamed: 7  \
0        Gas     NaN        Oil         NaN       mcfd  Count        NaN
1         16     NaN        NaN        79.0      2,744    822          $
2         19     NaN        NaN        81.0      2,750    608          $
3         16     NaN        NaN        77.0      2,750    798          $
4         17     NaN        NaN        78.0      2,737  1,389          $
5         16     NaN        NaN        77.0      2,750  1,362          $

  EP Per.1
0    Price
1     7.25
2     7.03
3     3.16
4     7.33
5     4.26
Table 6:
                                           Unnamed: 0  \
0                           Permian rigs increased by
1                                                 NaN
2                           increasing by 5 rigs over
3                          326 rigs. Public companies
4                                                 NaN
5                       while private companies added
6                                                 NaN
7   make up 51% of the drilling in the Permian (16...
8                                                 NaN
9                               more and more Permian
10                                                NaN
11                        pipelines, keeping track of
12                  $2.00has gotten more challenging.

                                  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                                         12        NaN       rigs      since
1                                        NaN        NaN        NaN        NaN
2                                        the   previous        NaN        NaN
3                                        NaN      added        NaN          8
4                                        NaN        NaN        NaN        NaN
5                                        NaN        NaN    4 rigs;        NaN
6                                        NaN        NaN        NaN        NaN
7                                        NaN        NaN        NaN        NaN
8                                        NaN        NaN        NaN        NaN
9                                 production        NaN        NaN        has
10                                       NaN        NaN        NaN        NaN
11  just Permian production on a daily basis        NaN        NaN        NaN
12                                       NaN       With        NaN       this

                 Unnamed: 5   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                  our last    forecast,         NaN       after         NaN
1                    Apr-18          NaN         NaN         NaN         NaN
2        6 weeks, currently          NaN         NaN  sitting at         NaN
3       rigs siSnecpe-18the         last         NaN    forecast         NaN
4                       NaN          NaN         NaN         NaN         NaN
5   privateFecbo-1m9 panies          NaN         NaN   currently         NaN
6                       NaN          NaN         NaN         NaN         NaN
7                       NaN          NaN         NaN          As         NaN
8                       NaN          NaN         NaN         NaN         NaN
9                grown into          the  intrastate         NaN         NaN
10                   Dec-19          NaN         NaN         NaN         NaN
11                      NaN          NaN         NaN         NaN         NaN
12     May-20 update, we’ve  reallocated         NaN         NaN         NaN

    Unnamed: 10 Unnamed: 11                   Unnamed: 12  \
0           NaN         NaN                           NaN
1           NaN         NaN               Whistler - Full
2           NaN      19,000            Whistler - Partial
3           NaN         NaN        Permian Highway - Full
4           NaN      17,000             Samalayuca-Sasabe
5           NaN         NaN                           NaN
6           NaN         NaN     Permian Highway - Partial
7           NaN      15,000                           NaN
8           NaN         NaN     Gulf Coast Express - Full
9           NaN         NaN                           NaN
10          NaN      13,000  Gulf Coast Express - Partial
11          NaN         NaN                           NaN
12          NaN      11,000                           NaN

                GCX Expansion
0                       $9.00
1   Permian Highway Expansion
2     $8.00Whistler Expansion
3                       $7.00
4                         NaN
5                       $6.00
6                         NaN
7                       $5.00
8                         NaN
9                       $4.00
10                        NaN
11                      $3.00
12                        NaN
Table 7:
                                               Sep-23  \
0   After a busy May, June and July proved relativ...
1   infrastructure announcements. In its July 20th...
2                                               1,200
3   PHP Expansion project for +0.55 bcfd targeting...
4   However, the +0.57 bcfd GCX Expansion was not ...
5   KMI noted that it was in discussion with shipp...
6   capacity” to serve LNG facilities. This may de...
7                                                 NaN
8   expansion’s incremental capacity, but the +Ja0...
9   Expansion along the same route will relieve so...
10  Our dry production forecast continues to crest...
11  Constraints line, which is a simple repreJsaen...
12  infrastructure since 2017 capped to 90% nMaamy...
13  however, we have previously seen dry gas prodS...
14  2 bcfd over these expectations via local demaJ...
15  displacement along all outbound pipelines. May...
16                                                NaN
17   Sep-19Texas District 8 IP’s vs. Rig Efficiencies
18                                             Jan-20
19               3,000  4.0100/1/20May-20 2.00  4,000
20                                Sep-20  1.80  3,500
21                                              2,500
22                          Jan-21  1.60 6/1/21 3,000
23                           2,000 May-21 1.40  2,500
24                                       Sep-21  1.20
25                          1,500 Jan-22  1.00  2,000
26                                May-22  0.80  1,500
27                          1,000 Sep-22  0.60  1,000
28                                             Jan-23
29                                               0.40
30                                    500 May-23  500
31                             10/1/23Sep-23  0.20  -

                              Unnamed: 0  Unnamed: 1    Unnamed: 2
0                                    NaN         NaN           NaN
1                                    NaN         NaN           NaN
2                                    NaN         NaN           NaN
3                                    NaN         NaN           NaN
4                                  mmcfd         NaN           NaN
5                                    NaN         NaN           NaN
6                                    NaN         NaN           NaN
7                                    NaN         NaN       10/1/17
8                                    NaN         NaN           NaN
9                                    NaN         NaN        2/1/18
10                                   NaN         NaN        6/1/18
11                                   NaN         NaN       10/1/18
12                                   NaN         NaN        2/1/19
13                                   NaN         NaN        6/1/19
14                                   NaN         NaN       10/1/19
15                     1/1/2021 1/1/2022         NaN           NaN
16                                   NaN         NaN        2/1/20
17  Permian NM IP’s vs. Rig Efficiencies         NaN        6/1/20
18                                   NaN         NaN           NaN
19                                   NaN         NaN           NaN
20                                   NaN         NaN    3.502/1/21
21                                   NaN         NaN           NaN
22                                   NaN         NaN          3.00
23                                   NaN         NaN  10/1/21 2.50
24                                   NaN         NaN        2/1/22
25                                   NaN         NaN    2.006/1/22
26                                   NaN         NaN   1.5100/1/22
27                                   NaN         NaN    1.002/1/23
28                                   NaN         NaN           NaN
29                                   NaN         NaN           NaN
30                                   NaN         NaN    0.506/1/23
31                                   NaN         NaN             -
Table 8:
       Unnamed: 0      Unnamed: 1    Unnamed: 2   Unnamed: 3  Unnamed: 4  \
0       7/29/2022  Dry Production           NaN   JRaing-s22         NaN
1         Rockies     mmcfd Yr/Yr           Gas          Oil         NaN
2      Summer '22     9,889 (400)           NaN  J9un-  2  2        77.0
3             NaN             NaN           NaN          NaN         NaN
4  Winter '22/'23      10,338 527            12          NaN        79.0
5             NaN             NaN        Nov-22          NaN         NaN
6      Summer '23      10,585 697            13          NaN        70.0
7            2022     9,893 (360)  A 8pr-  2  3          NaN        73.0
8            2023      10,552 660            12          NaN        72.0

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  Aug-21
0   Avg IP's       Well        NaN       NWPL     NaN
1       mcfd      Count        NaN      Price  Jan-22
2      1,059      1,633          $       7.79     NaN
3        NaN        NaN        NaN        NaN  Jun-22
4      1,147      1,371          $       8.58     NaN
5        NaN        NaN        NaN        NaN     NaN
6      1,228      1,833          $       4.48  Nov-22
7      1,054      2,786          $       8.30     NaN
8      1,213      3,150          $       5.68  Apr-23
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197
Table 10:
                                              Jun-17         Unnamed: 0  \
0                                                NaN                NaN
1                    Rockies Regional AnaNolvy-17sis                NaN
2  Our 2022 production yr/yr chaAnpgr-e18 estimat...          increased
3  mmcfd, as we are now calling foSerp-a18 year-o...           decrease
4  bcfd (vs. a -0.40 bcfd yr/yr decreFaebs-1e9 pr...  We are increasing
5  our 2023 yr/yr outlook by ~80 mJmul-1c9fd, now...                NaN

         Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0               NaN         NaN         NaN     Jan-17
1               NaN         NaN         NaN     Jun-17
2            by ~40         NaN         NaN     Nov-17
3          of -0.36         NaN         NaN     Apr-18
4               NaN         NaN         NaN     Sep-18
5  for a +0.66 bcfd         NaN         NaN     Feb-19
Table 11:
                    Rockies Regional Analysis (cont.) Unnamed: 0 Unnamed: 1  \
0                Biggest Impact / Risks / Assumptions        NaN        NaN
1   In July, our overall Rockies pipe estimates ca...        ~70    800,000
2   mmcfd higher than forecast, with relatively sm...        NaN    700,000
3   in the various sub-basins. As such, our foreca...        NaN    600,000
4   remains largely unchanged with slight growth f...        NaN        NaN
5                                                 NaN        NaN    500,000
6   through the balance of the year and into 2023,...        NaN        NaN
7                                                 NaN        NaN    400,000
8   levels of ~10.0 bcfd average for July to year ...        NaN        NaN
9   bcfd. Slight growth is distributed amongst the...        NaN    300,000
10  basins, as drilling economics remain strong th...         In    200,000
11  the Bakken, recovery from the severe weather i...        and    100,000
12  May causing widespread power outages and produ...        NaN          0
13  ins took longer than HES had originally antici...        NaN        NaN
14  stats for May show grow produced volumes of ~2...        NaN        NaN
15  compared to March levels of ~3.01 bcfd. Our no...        NaN        NaN
16  would suggest ND June production levels are es...        NaN        NaN
17  recovered to March levels. Looking forward, gr...      still        NaN
18  slated for the second half in earnings comment...          a      6,000
19  comparison, HES expects ~50 new wells to be br...        NaN        NaN
20                                                NaN        NaN      5,000
21  in H2 vs. 32 new wells in H1. HES’s guidance a...        NaN        NaN
22  this growth view, with Q3 pegged at 155-160 mb...        NaN      4,000
23  continuing to grow to 160-165 mboepd, with the...        NaN      3,000
24  trajectory continuing to a 200 mboepd planned ...         As        NaN
25                                                NaN        NaN      2,000
26  noted before, new gas plants continue to beJan...        NaN        NaN
27  with OneOk’s Bear Creek plant expansion coJumn...         in      1,000
28  Q4, and their Demicks Lake III plant scheduled...        NaN          -
29  in Q1 ’23, bringing OneOk’s Williston capacity...        NaN        NaN
30                                             Sep-18        NaN        NaN
31  In the DJ basin, we have very slight growth pr...       from        NaN
32                                             Feb-19        NaN        NaN
33  ~2.5 bcfd in July to a projected ~2.6 bcfd Jul...          –        NaN
34  essentially flat based on conservatively const...        NaN        NaN
35                                             Dec-19        NaN        NaN
36  plans by the main DJ operators. Long permittin...        NaN        NaN
37                                                NaN        NaN        NaN
38                                             May-20        NaN      1,800
39  put in place by Colorado have led to long-date...        NaN        NaN
40                                                NaN        NaN      1,600
41  plans which in the current financial environmO...        NaN        NaN
42                                                NaN        NaN      1,400
43  focus on free-cash-flow. As such we have Mmara...        our      1,200
44  relatively steady forecast there. Seasonally, ...        NaN      1,000

Enter the number of the tables you want to print: 2,4,9
Table 2:
      Mid Continent May-22 Jun-22 Jul-22 Aug-22 Sep-22 Oct-22 Nov-22 Dec-22  \
0  Dry Prod (mmcfd)  8,921  8,828  8,603  8,703  8,765  8,808  8,820  8,835
1     Yr/Yr (mmcfd)    153    182   (44)      8     86    162    213    117
2          Gas Rigs     13     13     14     15     16     17     18     19
3          Oil Rigs     55     51     52     54     55     56     55     55
4        Well Count    158    154    134    118    121    126    131    136
5    IP (mcfd/well)  1,654  1,706  2,074  2,434  2,497  2,503  2,509  2,516

  Jan-23 Feb-23 Mar-23 Apr-23
0  8,850  8,885  8,962  9,005
1    378    502    313    128
2     20     21     20     20
3     54     53     53     53
4    136    138    137    137
5  2,522  2,528  2,535  2,125
Table 4:
            Permian  May-22  Jun-22  Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  16,107  15,907  15,744  16,106  16,203  16,307  16,420
1     Yr/Yr (mmcfd)   2,215   1,579   1,109   1,005   1,005     918   1,055
2          Gas Rigs      17      12      16      17      17      17      18
3          Oil Rigs     299     307     306     313     319     326     325
4        Well Count     370     369     366     372     375     385     390
5    IP (mcfd/well)   1,901   1,907   1,922   1,938   1,940   1,946   1,949

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  16,540  16,641  16,721  16,797  16,863
1     987   1,292   1,137   1,107     903
2      19      20      20      20      20
3     325     320     313     314     311
4     397     376     373     370     363
5   1,951   1,955   1,961   1,967   1,968
Table 9:
            Rockies May-22 Jun-22 Jul-22  Aug-22  Sep-22  Oct-22  Nov-22  \
0  Dry Prod (mmcfd)  9,605  9,854  9,946  10,056  10,136  10,201  10,244
1     Yr/Yr (mmcfd)  (774)  (357)  (168)   (159)   (272)    (99)      94
2          Gas Rigs      8      8     10      10      10      10      10
3          Oil Rigs     70     76     82      83      83      83      82
4        Well Count    201    211    240     243     266     272     272
5    IP (mcfd/well)  1,008  1,029  1,035   1,107   1,121   1,129   1,122

   Dec-22  Jan-23  Feb-23  Mar-23  Apr-23
0  10,292  10,339  10,383  10,431  10,478
1     342     769     738     690   1,056
2      11      12      13      14      14
3      81      80      77      75      73
4     275     274     274     276     270
5   1,133   1,143   1,154   1,185   1,197

In [ ]:
import tabula

pdf_path = "forecast.pdf"
table = read_pdf(pdf_path, pages="all")

# Create a list to store all tables containing the given column
tables_with_given_column = []

# Iterate over the tables and add them to the list if they contain the given column
for table in table:
    if all(column in table.columns for column in ['May-22', 'Jun-22', 'Jul-22', 'Aug-22', 'Sep-22', 'Oct-22', 'Nov-22', 'Dec-22', 'Jan-23', 'Feb-23', 'Mar-23', 'Apr-23']):
        tables_with_given_column.append(table)

# Print all the tables into DataFrames
for table in tables_with_given_column:
    print(table)